extends _application
include _ui

block page_article
  .layer-header
    header.container-fluid(role='navigation')
      a.navi-title(href!="<?php echo get_home_url(); ?>")
        i.fa.fa-angle-left
        | ホーム
      .controls
        h1.title
          | 404 - Page Not Found

  //- コンテンツ
  section.ui-section(style='background-color:transparent;padding-top:16px;')
    .section
      h2(style='text-align: center;')
        strong
          | SORRY, THAT PAGE IS&nbsp;
          em(style='color: #E24848;') NOT FOUND
          | …
      p(style='text-align: center;')
        | Click&nbsp;
        a(href='/') here
        | &nbsp;to go back to our top page.
      hr
      p(style='text-align: center;')
        span(style='color: #808080;')
          strong 404 Not Found

