extends _application
include _ui
//-
  The template for displaying 404 pages (Not Found).
  @package WordPress
  @subpackage SFC_Bosalab_2013
  @since 1.0

block page_article
  div(class!="page-layer__media--404--page")
    section.post-section
      .contact-content-wrap
        .contact-content
          h2(style='text-align: center;')
            strong
              | SORRY, THAT PAGE IS&nbsp;
              em(style='color: #E24848;') NOT FOUND
              | …
          p(style='text-align: center;')
            | Click&nbsp;
            a(href='/') here
            | &nbsp;to go back to our top page.
          hr
          p(style='text-align: center;')
            span(style='color: #808080;')
              strong 404 Not Found
