include _ui

.archive

  //- トップページ
  //- ------------------------------------------------------------
  <?php if ( is_front_page() ) { ?>

  section.post-items.row
    .post-item.item-th.col-sm-8.col-sm-offset-4.col-xs-12
      h2 News
    :php
      $wp_query = new WP_Query();
      $wp_query->query($param);
    <?php if ( $wp_query->have_posts() ) { while ( $wp_query->have_posts() ) { $wp_query->the_post(); ?>
    //- 投稿アイテム
    .post-item.item-index.loaded.col-sm-8.col-sm-offset-4.col-xs-12(data-id!="<?php the_ID(); ?>")
      .row
        .post-header
          +ui-calendar
        .post-article
          h3.title
            a(href!="<?php the_permalink(); ?>")
              span <?php the_title(); ?>
          p.excerpt.ellipsis.multiline
            <?php echo new_excerpt( 200 ); ?>
        .post-footer
          //- カスタム投稿タイプ
          a(href!="<?php echo get_post_type_archive_link( get_post_type() ); ?>")
            //- span #<?php echo esc_html( get_post_type_object( get_post_type() )->label ); ?>
            span.post-type #<?php echo get_post_type(); ?>
    <?php }} else { ?>
    //- 投稿アイテム(Not Found)
    .post-item.item-none.col-sm-8.col-sm-offset-4.col-xs-12
      span 投稿はまだありません。
    <?php } ?>


  //- 検索結果ページ
  //- ------------------------------------------------------------
  <?php } elseif ( is_search() ) { ?>

  hgroup.page-title
    h1 Search Results

  section.post-items.row
    <?php if ( $wp_query->have_posts() ) { while ( $wp_query->have_posts() ) { $wp_query->the_post(); ?>
    //- 投稿アイテム
    .post-item.item-search.loaded.col-sm-8.col-sm-offset-4.col-xs-12(data-id!="<?php the_ID(); ?>")
      .row
        .post-header
          +ui-calendar
        .post-article
          h3.title
            a(href!="<?php the_permalink(); ?>")
              span <?php the_title(); ?>
          p.excerpt.ellipsis.multiline
            <?php echo new_excerpt( 200 ); ?>
        .post-footer
          //- カスタム投稿タイプ
          a(href!="<?php echo get_post_type_archive_link( get_post_type() ); ?>")
            //- span #<?php echo esc_html( get_post_type_object( get_post_type() )->label ); ?>
            span.post-type #<?php echo get_post_type(); ?>
    <?php }} else { ?>
    //- 投稿アイテム(Not Found)
    .post-item.item-none.col-sm-8.col-sm-offset-4.col-xs-12
      span 投稿はまだありません。
    <?php } ?>

  //- ------------------------------------------------------------
  <?php } ?>




