extends _application
include _ui

block page_article
  .layer-header
    header.container-fluid(role='navigation')
      a.navi-title(href!="<?php echo get_home_url(); ?>")
        i.fa.fa-angle-left
        | ホーム
      .controls
        h1.title
          | <?php echo strip_tags(get_the_title()); ?>

  <?php while ( have_posts() ) { the_post(); ?>

  //- コンテンツ
  section.ui-section(style='background-color:transparent;')
    .section
      <?php the_content(); ?>

  <?php } ?>