extends _application
include _ui

block page_article
  .layer-header
    header.container-fluid
      .navi-title
        | 検索結果
      .controls
        h1.title
          | Search results for&nbsp;
          strong “<?php the_search_query(); ?>”

  //- 検索結果
  section.ui-section
    .section
      .results
        :php
          global $query_string;
          query_posts($query_string);

          if (have_posts()) {
            while (have_posts()) { the_post();

        //- 単体記事ここから
        //------------------------------------------------------------

        .result
          h3.title: a(href!='<?php the_permalink(); ?>')
            | <?php the_title(); ?>
          p.excerpt.ellipsis.multiline
            | <?php echo new_excerpt(160); ?>…
          p.link.ellipsis
            a(href!='<?php the_permalink(); ?>')
              | <?php echo get_bloginfo('url') ?><?php the_permalink(); ?>

        //- 単体記事ここまで
        //------------------------------------------------------------
        :php
          } } else {

        .result.notfound
          h3.title
            | Sorry, but not found.

        :php
          }