@import '_config'

/* = .ui-progress
 * ----------------------------------------------------- */
.ui-progress
  z-index 499
  position fixed
  top -10px
  left 0
  right 0
  height 10px
  &.ui-progress-active
    .progress-bar
      animation stripes .2s linear infinite
  .progress
    border-radius 0
    height 10px
  .progress-bar
    width 100%
    border-radius 0


/* = .ui-scrollto
 * ------------------------------------------------------------ */
.ui-scrollto
  z-index 3000
  position fixed
  padding 8px
  bottom 15px
  right @bottom
  line-height 0
  opacity 0
  background #000000
  border-radius 2px
  transition opacity .8s
  i
    padding 0 1px
    color #fff
    font-size 13px
    line-height 3px
    text-decoration none
body.scroll
  .ui-scrollto
    opacity .6
    &:hover
      opacity 1


/* = .ui-calender
 * ------------------------------------------------------------ */
date_width = 120px * 0.35

.ui-calender
  time
    hidden()
  .date-icon
    z-index 9
    position relative
    width date_width
    height date_width
    background-repeat no-repeat
    background-color #fff
    background-image embedurl(path + 'common/date-' + date_width + '.png')
    border-radius base-radius-small base-radius-small 9px base-radius-small
    .date-month
    .date-day
    .date-year
      position absolute
      left 0
      right 0
      color base-color-black
      font-weight 300
      text-align center
    .date-month
      top 0
      padding 2px 0
      background-color #D35950 //#E8675E
      border-radius base-radius-small base-radius-small 0 0
      color #fff
      font-size 10px
      font-weight 700
      line-height 10px
    .date-day
      top 14px
      font-size 20px
      line-height 27px
      // background-color base-color-white
      border 1px solid #eee
      border-top 0
      border-radius 0 0 6px 2px
    .date-year
      top 42px
      font-size 10px
      line-height 15px


/* = .ui-loader
 * ------------------------------------------------------------ */
loader-size = 20px
loader-gutter = (loader-size/10)
loader-transform = loader-size + (loader-gutter*2)
@keyframes u1
  from
    display inline-block
  to
    background-color base-color-beige
    transform translate(loader-transform, 0)
@keyframes u2
  from
    display inline-block
  to
    background-color base-color
    transform translate(- loader-transform, 0)

.ui-loader
  clearfix()
  z-index 4
  position absolute
  top 50%
  left @top
  width loader-size*3.5
  height loader-transform
  margin @width * -0.5
  margin-top @height * -0.5
  text-align center
  transition all 1.1s ease .15s
  i
    &.dot-u1
    &.dot-u2
      display inline-block
      width loader-size
      height loader-size
      margin loader-gutter
      border-radius 50%
    &.dot-u1
      background-color base-color
      animation u1 .95s ease-in-out  infinite alternate
    &.dot-u2
      background-color base-color-beige
      animation u2 .95s ease-in-out  infinite alternate


/* = .photograph-container
 * ------------------------------------------------------------ */
.photograph-container
  overflow hidden
  position relative
  .background
  .photograph
  .photograph-shadow
    position absolute
    top 0
    left @top
    right @top
    bottom @top
    transition all .05s ease-in-out
  .background
    background-color rgba(231, 228, 218, .45)
    border 1px solid rgba(121, 119, 107, .1)
  .photograph
    opacity 0
    background-size cover
    background-position 50% 25%
    transition all .55s ease-in-out .15s
  .photograph-shadow
    z-index 1
    border 1px solid rgba(0, 0, 0, .12)
    background-color rgba(0, 0, 0, .04)
    transition all base-transition
  .link-icon
    opacity 0
    display block
    z-index 12
    position absolute
    left 50%
    top 50%
    height 32px
    width @height
    margin @height*-0.5 0 0 @height*-0.5
    color base-color-white
    font-size 64px
    font-weight 100
    line-height @height
    text-align center
    transform rotate(-45deg)
    -webkit-backface-visibility hidden
    transition all base-transition
  .ui-loader
    opacity 1
  &.loaded
    .photograph
      opacity 1
      transition all base-transition
    .ui-loader
      opacity 0
  &.link:hover
    .photograph
      transform scale(1.05)
      filter grayscale(100%)
      -webkit-filter grayscale(100%)
      -moz-filter grayscale(100%)
      -ms-filter grayscale(100%)
      -o-filter grayscale(100%)
      filter gray
      -webkit-filter grayscale(1)
    .photograph-shadow
      background-color rgba(0, 0, 0, .54)
    .link-icon
      opacity 1
      transform rotate(0deg)


/* = .tags
 * ------------------------------------------------------------ */
.tags // ul
  clearfix()
  list-style none
  margin 0
  .tag
    display inline-block
    margin 0
    font-size 12px
    font-size 1.2rem
    line-height 18px
  .tag // li
    display inline-block
    position relative
    margin 0 4px 0 0
    padding 0 8px
    color base-color-white
    font-size 11px
    white-space nowrap
    border-radius 1px
    background-color base-color-blue
    transition color .15s ease
    &:first-child
      padding-left 0


/* = .controls
 * ------------------------------------------------------------ */
.controls
  text-align center
  margin 0
  .control-buttons // ul
    overflow hidden
    list-style none
    display inline-block
    margin 0
    .filter // li
      overflow hidden
      cursor pointer
      position relative
      float left
      display block
      height 26px
      min-width 50px
      color #6c6c6c
      font-size 13px
      line-height @height - 2px
      margin 0
      padding 0 30px
      background-color #fff // transparent
      border 1px solid #6c6c6c
      transition all base-transition
      a
      span
        position relative
        display inline-block
        color base-color-black
      &:nth-child(n)
        border-right-width 0
      &:first-child
        border-radius base-radius 0 0 base-radius
      &:last-child
        border-right-width 1px
        border-radius 0 base-radius base-radius 0
      &:hover
        background-color #f0f0f0
      &.active
        color base-color-white
        border-color #6c6c6c
        background-color #6b6b6b
        a
        span
          color base-color-white


/* = ボタン
 * ------------------------------------------------------------ */
.btn // a
  float left
  display inline
  padding 13px 40px
  font-size 13px
  font-weight 700
  text-align center
  text-transform uppercase
  text-rendering optimizelegibility
  letter-spacing .1em // 1px
  border 0
  border-radius 4px
  box-shadow none
  background-color #4c4b4b
  transition all .1s linear
  &
  &:hover
  &:active
  &:focus
  &:visited
    outline none
    color #fff
    text-decoration none
  &.btn-black
    background-color #3e4949
    &:hover
      box-shadow 0 3px 0 #2f3434
      background-color #384141
  &.btn-pink
    background-color #e76860
    &:hover
      box-shadow 0 3px 0 #c65953
      background-color darken(#e76860, 4%)
    &:active
      background-color darken(#e76860, 8%)
  &.btn-green
    background-color #0ea5a0
    &:hover
      box-shadow 0 3px #128c87
      background-color #12a19c


/* = 言語スイッチャー
 * ------------------------------------------------------------ */
#lang_sel_footer
  padding 3px 0
  background-color transparent
  border none
  ul
    clearfix()
    width 100%
    max-width 960px
    margin 0 auto
    li
      display inline-block
      margin 0
      &:before
      &:after
        content none
      a
        display inline-block
        padding 5px 10px
        color #799fa4
        font-size 11px
        font-weight bold
        line-height 1
        img
          top -1px
          width 22px
          height 16px
          padding 2px
        span
          &.icl_lang_sel_current
          &.icl_lang_sel_native
          &.icl_lang_sel_translated
            hidden()


/* = お問い合わせフォーム
 * ------------------------------------------------------------ */
.wpcf7
  padding 0 space3
  .screen-reader-response
    hidden()
  .wpcf7-form // form
    & > hgroup
      margin-bottom space3
      text-align center
      h2
        margin-top space2
        color #55534D
        font-size 26px
        font-weight bold
        text-transform uppercase
        letter-spacing .04em
      p
        margin space2 0
        color lighten(#55534D, 10%)
        font-size 13px
        font-weight normal
        font-style italic
    & > p
      clearfix()
      margin 0 space3 space
      color lighten(#55534D, 10%)
      font-size 14px
      line-height 20px
      font-weight 700
      .wpcf7-form-control-wrap // span
        .wpcf7-not-valid-tip // span
          padding 2px 0 0
          color #C0392B
        input
        textarea
        select
          display block
          width 100%
          height 34px
          padding 6px 12px
          font-size 14px
          line-height 1.42857143
          color #555
          background-color base-background-color
          background-image none
          border none
          border-radius 2px
          box-shadow inset 0 1px 1px rgba(0, 0, 0, .07)
          transition border-color ease-in-out .15s, box-shadow ease-in-out .15s
        textarea
          height 200px
          max-height 200px
          min-height 200px
          resize none
        &.menu-faculty
        &.menu-grade
          display block
          float left
        &.menu-faculty
          width 62%
          margin-right 3%
        &.menu-grade
          width 35%
          margin-top -20px
      .wpcf7-submit // input
        @extends .btn
        user-select()
        cursor pointer
        vertical-align middle
        margin 0
        color #FFF
        font-size 17px
        line-height 1.1em
        font-weight normal
        text-align center
        white-space normal
        background-color base-color
        border none
        border-radius 2px
        transition all .25s linear
    .wpcf7-response-output
      display block
      margin space2 space3
      padding 10px
      color #fff
      font-size 13px
      font-weight bold
      text-align center
      border none
      border-radius 2px
      background-color transparent
      &:before
        border 0 solid rgba(0, 0, 0, 0)
      &.wpcf7-mail-sent-ok
        background-color #2980B9
        &:before
          border-bottom-color #2980B9
      &.wpcf7-mail-sent-ng
        background-color #C0392B
        &:before
          border-bottom-color #C0392B
      &.wpcf7-spam-blocked
        background-color #C0392B
        &:before
          border-bottom-color #C0392B
      &.wpcf7-validation-errors
        background-color #C0392B
        &:before
          border-bottom-color #C0392B
