/* = Settings
 * ------------------------------------------------------------ */

support-for-ie ?= true
path = '/content/themes/bosai/public/images/'

max_width = 960px
//1080px

// lighten(#E9EAED, 85%)
background_color = #f4f7f8
background_color_dark = #e9eaed

font_color = #42413e
// #4d3636

// グリーン - #73A2A8
base_color = #799FA4
base_color_current = darken(base_color, 15%)
base_color_hover = darken(base_color, 30%)
//#333
// ベージュ
sub_color = #F7F3EC
sub_color_edge = darken(sub_color, 2%)

base_text_shadow = 0 -1px rgba(0, 0, 0, .1)


/* = Minins
 * ------------------------------------------------------------ */

clearfix()
  &:before
  &:after
    content ' '
    display table
  &:after
    clear both

container()
  clearfix()
  max-width 1080px
  margin 0 auto
  padding-left 15px
  padding-right 15px
  @media screen and (max-width: 1110px)
    padding-left 15px
    padding-right 15px

user-select()
  -moz-user-select -moz-none
  -khtml-user-select none
  -ms-user-select none
  -webkit-user-select none
  user-select none

sc-view()
  cursor default
  overflow hidden
  border solid 0 rgba(0, 0, 0, 0)
  user-select()
  -webkit-touch-callout none
  -webkit-tap-highlight-color rgba(0,0,0,0)

// 文字詰め
ellipsis()
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
  &.multiline
    white-space normal

// 文字省略
omission()
  white-space nowrap
  text-overflow ellipsis
  overflow hidden

// 非表示
hidden()
  display none
  visibility hidden
visible()
  display block
  visibility visible

// フォント
font-reset()
  font-family YuGothic, 'Yu Gothic', "游ゴシック体", "游ゴシック", 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'Lato', 'Helvetica', 'メイリオ', 'Meiryo', 'MS PGothic', 'Arial', 'Verdana', sans-serif
font-helvetica()
  font-family 'Helvetica Neue', Arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif
font-helvetica-ultra()
  font-family 'HelveticaNeueLight'

background-blurred()
  background-color #2C4347
  background-image url('/images/blurred-bkg.png')
  background-size cover
  background-position 50% 50%

cover()
  background-size cover
  background-position 50% 25%

contain()
  background-repeat no-repeat
  background-size contain
  background-position 50% 0%

background-clip-padding-box()
  -webkit-background-clip padding-box
  -moz-background-clip padding
  background-clip padding-box

background-size(n)
  // cover, etc
  -webkit-background-size n
  -moz-background-size n
  -o-background-size n
  background-size n

navi-background(color)
  background-color color
  // background-image linear-gradient(
  //   top, lighten(color, 10%) 0%, color 50%, darken(color, 10%) 100%
  // )

zoom-in()
  cursor pointer
  cursor -webkit-zoom-in
  cursor zoom-in

button-pink()
  width 100%
  margin 10px 0
  padding 13px 30px
  font-size 13px
  letter-spacing .1em
  text-align center
  text-transform uppercase
  text-decoration none
  background-color #e76860
  border-radius 4px
  box-shadow 0 2px 0 #c65953
  &:hover
    background-color darken(#e76860, 4%)
  &:active
    margin 10px 0 8px
    padding 15px 30px
    background-color darken(#e76860, 8%)
    box-shadow inset 0px 2px 0 #C65953

formal_whiteboard()
  background-color #fff
  border 1px solid
  border-color #e5e6e9 #dfe0e4 #d0d1d5
  border-radius 3px

whiteboard()
  background-color #fff
  // box-shadow 0 3px 0 #e5eef1
  box-shadow 0 3px 0 #D7E4E8, inset 0px 0 0px 5px rgba(229, 238, 241, .64)
  border-radius 2px

readmore()
  float right
  margin-top 1.6em
  color #999
  font-size 12px
  font-weight bold
  transition color .2s ease-in-out
  &:hover
    color #222

markdown()
  color #222
  text-align justify
  h1
  h2
  h3
  h4
  h5
  h6
    // @extend .clearfix
    font-size 1.20em
    font-weight bold
    line-height @font-size
    word-wrap break-word
  h1
  h3
  h2
    &:before
      content '■'
      padding-right .5em
      color #8DB95C
  h1
  h2
  h3
    margin-bottom 16px
    padding-bottom 0.3em
    border-bottom 1px solid #eee
  h1
    font-size 2.15em
    line-height 1.40em
    margin-top @font-size
    &:before
      color base_color
  h2
    font-size 1.70em
    line-height 1.50em
    margin-top 1.50em
    &:before
      color #C54A48
  h3
    font-size 1.40em
    line-height @font-size
  h4
    font-size 1.30em
    line-height @font-size
  h5
    font-size 1.20em
    line-height @font-size
  h6
    font-size 1.10em
    line-height @font-size
  p
    display block
    margin .7em 0 1.4em
    font-size 1.1em
    line-height 1.6em
    // text-indent @font-size
    word-wrap break-word
  strong
    font-weight bold
  em
    font-style italic
  blockquote
    display block
    -webkit-margin-before 1em
    -webkit-margin-after 1em
    -webkit-margin-start 40px
    -webkit-margin-end 40px
  ul
  ol
    margin .7em .7em 1.4em
    li
      margin-bottom .3em
      &:before
        content '●' //'\f111'
        padding-right .7em
        color #cccca3
        font-size 1.1em
        font-family 'FontAwesome'
      & ul
        margin 0
  legend
    hoge 0
  button
  input[type='reset']
  input[type='submit']
    @extend .btn
    @extend .btn-default
  input[type='submit']
    @extend .btn-danger
  form
    @extend .form-horizontal
    margin 60px 180px
    input[type='text']
    input[type='email']
    input[type='password']
    select
    textarea
      @extend .form-control
    input
      outline 0
      display inline-block
      font-size 1.1em
      border-radius 1px
  table
    @extend .table
    // @extend .table-striped
    // @extend .table-condensed
    // @extend .table-hover
    margin .7em 0 1.4em
    tr
      th
        @extend .table > thead > tr > th
      &:nth-child(even)
        td
          background-color #f9f9f9
  blockquote
    margin .5em 20px
    padding 1px 15px
    p
      font-size
  img
    max-width 100%
    height auto
    &.aligncenter
      display block
      margin 0 auto
    &.alignright
      float right
      margin 0 0 30px 30px
    &.alignleft
      float left
      margin 0 30px 30px 0
    &[class*="wp-image-"]
    &[class*="attachment-"]
      max-width 100%
      height auto

/* = Animations
 * ------------------------------------------------------------ */

@keyframes stripes
  from
    background-position 40px 0
  to
    background-position 0 0

@keyframes spinner
  0%
    rotate(0deg)
  50%
    rotate(180deg)
  100%
    rotate(360deg)

@keyframes poof
  0%
    rotate(0deg)
  25%
    rotate(-20deg)
  75%
    rotate(20deg)
  100%
    rotate(0deg)

@keyframes fadeInFrame
  0%
    hidden()
    opacity 0 !important
  1%
    visible()
    opacity 0 !important
  100%
    visible()
    opacity 1 !important

@keyframes fadeOutFrame
  0%
    visible()
    opacity 1 !important
  99%
    visible()
    opacity 0 !important
  100%
    hidden()
    opacity 0 !important
