.site
  min-width 1040px

.genericon:before
.menu-toggle:after
.date a:before
.entry-meta .author a:before
.format-audio .entry-content:before
.comments-link a:before
.tags-links a:first-child:before
.categories-links a:first-child:before
.edit-link > a:before
.attachment-meta:before
.attachment-meta a:before
.comment-awaiting-moderation:before
.comment-reply-link:before
.comment-reply-title small a:before
.bypostauthor > .comment-body .fn:before
  &:hover
    text-decoration none

.nav-menu
  .sub-menu
  .children
    ul
      left 100%

.site-header
  .home-link
    max-width 1040px

  .search-form[type=search]
  .search-form[type=text]
    padding-top 6px

img.alignright
  margin-right 0

img.alignleft
  margin-left 0

.site-main
  .sidebar-inner
    width 1040px

  .widget-area
    margin-right 60px

.format-image
  .entry-content
    .size-full
      margin 0
      max-width 604px

.gallery-columns-1
.gallery-columns-2
.gallery-columns-3
  .gallery-item
    max-width none

.gallery
  img
    width auto

.gallery-caption
  background #000
  filter unquote("alpha(opacity=0)")

.gallery-item:hover
  .gallery-caption
    filter unquote("alpha(opacity=70)")

.comment
  clear both

.comment-meta
.comment-content
.comment-list .reply
  width 480px

.depth-2 .comment-meta
.depth-2 .comment-content
.comment-list .depth-2 .reply
  width 460px

.depth-3 .comment-meta
.depth-3 .comment-content
.comment-list .depth-3 .reply
  width 440px

.depth-4 .comment-meta
.depth-4 .comment-content
.comment-list .depth-4 .reply
  width 420px

.depth-5 .comment-meta
.depth-5 .comment-content
.comment-list .depth-5 .reply
  width 400px

.comment-meta
  margin-bottom 0

.widget
  background #f7f5e7

.site-footer
  .widget
    background none

.ie8
  .site
    border 0

  img.size-full
  img.size-large
    height auto
    width auto

  .sidebar
    .entry-header
    .entry-content
    .entry-summary
    .entry-meta
      max-width 724px

  .author-info
    margin-left 0

  .paging-navigation
    .nav-previous
      .meta-nav
        padding 5px 0 8px
        width 40px

  .paging-navigation
    .nav-next
      line-height 1

  .format-status
    .entry-content:before
    .entry-meta:before
      content none

  .site-main
    .widget-area
      margin-right 0

.ie7
  audio
  canvas
  video
    display inline
    zoom 1

  legend
    margin-left -7px

  button
  input
  select
  textarea
    vertical-align middle

  // button
  // input[type=button]
  // input[type=reset]
  // input[type=submit]
  //   overflow visible

  // input[type=checkbox]
  // input[type=radio]
  //   height 13px
  //   width 13px

  .screen-reader-text
    clip rect(1px 1px 1px 1px)

  .site-header
    position relative
    z-index 1

  .main-navigation
    max-width 930px
    padding-right 150px

  .nav-menu
    li
      &
      a
        display block
        float left
    ul
      top 40px
    li
      ul
        ul
          left 100%
          top 0

  .site-header
    .search-form[type=search]
    .search-form[type=text]
      background-color #fff
      border 2px solid #c3c0ab
      cursor text
      height 28px
      outline 0
      width 150px

  .entry-header
  .entry-content
  .entry-summary
  .entry-meta
    width 604px

  .format-status
    .entry-content
    .entry-meta
      padding-left 60px

  .sidebar
    .format-status
      .entry-content
      .entry-meta
        padding-left 60px

    .post-navigation
      .paging-navigation
      .nav-links
        width 604px

  .paging-navigation
    .meta-nav
      padding 0 0 10px
      vertical-align middle
      width 40px

  .comments-title
  .comment-list
  .comment-reply-title
  .comment-respond .comment-form
    width 604px

  .site-footer
    .widget-area
      max-width none
      left auto

.rtl
  .format-audio .entry-content:before
  .comment-reply-link:before
  .comment-reply-login:before
    -ms-filter unquote("FlipH")
    filter unquote("FlipH")

