// filter: (.+)$ => filter: unquote("\1")
@charset 'UTF-8'
@import 'nib'
@import '_config'


/* = Resets
 * ------------------------------------------------------------ */

global-reset()


/* = Plugins
 * ------------------------------------------------------------ */

@import '../../bower_components/bootstrap-stylus/stylus/bootstrap'
@import '../../bower_components/font-awesome-stylus/stylus/font-awesome'
@import 'plugin/animate'
// @import 'plugin/ie'


/* = Fonts
 * ------------------------------------------------------------ */

$fa-font-path = '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/fonts/'
$fa-version ?= ''

@font-face
  font-family 'FontAwesome'
  src url($fa-font-path + 'fontawesome-webfont.eot?v=' + $fa-version)
  src url($fa-font-path + 'fontawesome-webfont.eot?#iefix&v=' + $fa-version) format('embedded-opentype'),
    url($fa-font-path + 'fontawesome-webfont.woff?v=' + $fa-version) format('woff'),
    url($fa-font-path + 'fontawesome-webfont.ttf?v=' + $fa-version) format('truetype'),
    url($fa-font-path + 'fontawesome-webfont.svg?v=' + $fa-version + '#fontawesomeregular') format('svg')
  font-weight normal
  font-style normal

$fa-font-path = '/fonts/'
$fa-version ?= ''

@font-face
  font-family 'HelveticaNeueUltraLight'
  src url($fa-font-path + 'helveticaneueultralight-webfont.eot')
  src local('☺'),
    url($fa-font-path + 'helveticaneueultralight-webfont.woff') format('woff'),
    url($fa-font-path + 'helveticaneueultralight-webfont.ttf') format('truetype'),
    url($fa-font-path + 'helveticaneueultralight-webfont.svg#webfontfOyiCJQU') format('svg')
  font-weight normal
  font-style normal


/* = Animations
 * ------------------------------------------------------------ */

@keyframes stripes
  from
    background-position 40px 0
  to
    background-position 0 0

@keyframes spinner
  0%
    transform rotate(0deg)
  50%
    transform rotate(180deg)
  100%
    transform rotate(360deg)

@keyframes poof
  0%
    transform rotate(0deg)
  25%
    transform rotate(-20deg)
  75%
    transform rotate(20deg)
  100%
    transform rotate(0deg)

@keyframes spin
  from
    transform rotate(0deg)
  to
    transform rotate(360deg)


/* = Global
 * ------------------------------------------------------------ */

::selection
  background-color #e6e6e6
::-moz-selection
  background-color #e6e6e6

body
  position relative
  -webkit-font-smoothing antialiased
  color base-color-black
  font-size 13px
  font-weight normal
  font-reset()
  background-color base-backgroud-color

h1
h2
h3
h4
h5
h6
  font-reset()

a
  &
  &:visited
    color #AC0404
  &:hover
    color #CA3C08
    text-decoration none
    transition color 0s ease

input
textarea
  outline 0

.fade
  opacity 1 !important

.hidden
  hidden true

.visible
  visible true

.on
  animation fadeInFrame .8s linear

.off
  animation fadeOutFrame .8s linear

markdown-zoom = 1.2
.markdown
  color base-color-black
  text-align left
  h1
  h2
  h3
  h4
  h5
  h6
    font-size 1.2rem * markdown-zoom
    font-size 12px * markdown-zoom
    line-height 1.4em
    font-weight 300
    word-wrap break-word
  h1
  h2
  h3
    margin-bottom 16px
    padding-bottom 0.3rem * markdown-zoom
    border-bottom 1px solid base-color-gray
    // &:before
    //   content '■'
    //   padding-right .5em
    //   color #8DB95C
  h1
    font-size 23px * markdown-zoom
    font-size 2.3rem * markdown-zoom
    margin-top @font-size
    &:before
      color base_color
  h2
    font-size 20px * markdown-zoom
    font-size 2.0rem * markdown-zoom
    margin-top @font-size
    &:before
      color #C54A48
  h3
    font-size 18px * markdown-zoom
    font-size 1.8rem * markdown-zoom
  h4
    font-size 16px * markdown-zoom
    line-height @font-size
    font-size 1.6rem * markdown-zoom
    line-height @font-size
  h5
    font-size 15px * markdown-zoom
    line-height @font-size
    font-size 1.5rem * markdown-zoom
    line-height @font-size
  h6
    font-size 14px * markdown-zoom
    line-height @font-size
    font-size 1.4rem * markdown-zoom
    line-height @font-size
  p
    display block
    margin .7em 0 1.4em
    font-size 13px * markdown-zoom
    font-size 1.3rem * markdown-zoom
    line-height 1.6em
    word-wrap break-word
  strong
    font-weight bold
  em
    font-style italic
  blockquote
    display block
    margin .5em 20px
    padding .01em 15px .5em
    -webkit-margin-before 1em
    -webkit-margin-after 1em
    -webkit-margin-start 40px
    -webkit-margin-end 40px
    border-left-color base-background-color-dark
    p
      font-size 13px
      font-size 1.3rem
      line-height 1.4em
  ul
  ol
    margin 0 0 24px 0
    padding-left 40px
    li
      font-size 14px
      font-size 1.4rem
      line-height 1.4em
      margin-bottom @font-size * 0.5
      & > ul
      & > ol
        margin 0 0 0 20px
  ul
    list-style disc
  ol
    list-style decimal
  dl
      margin 0 0 12px 0
      padding-left 40px
    dt
    dd
      font-size 14px
      font-size 1.4rem
      line-height 1.4em
      margin-bottom @font-size * 0.5
  img
    -ms-interpolation-mode bicubic
    border 0
    vertical-align middle
  legend
    color base-color-black
    white-space normal
    border-bottom-color base-color-gray
  button
  input
  select
  textarea
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box
  button
  input[type='reset']
  input[type='submit']
    @extend .btn
    @extend .btn-default
  input[type='submit']
    @extend .btn-danger
  form
    @extend .form-horizontal
    margin 60px 180px
    input[type='text']
    input[type='email']
    input[type='password']
    select
    textarea
      @extend .form-control
    input
      outline 0
      display inline-block
      font-size 1.1em
      border-radius 1px
  table
    @extend .table
    // @extend .table-striped
    // @extend .table-condensed
    // @extend .table-hover
    margin .7em 0 1.4em
    & > tbody
    tbody
    &
      & > tr
        & > th
          @extend .table > thead > tr > th
        & > th
        & > td
          border-top-color base-color-gray
        & > th
          border-bottom-color base-color-gray
        &.even // &:nth-child(even)
          & > td
            background-color base-background-color-light2
  pre
    border-radius 0
  img
    max-width 100%
    height auto
    &.aligncenter
      display block
      margin 0 auto
    &.alignright
      float right
      margin 0 0 30px 30px
    &.alignleft
      float left
      margin 0 30px 30px 0
    &[class*="wp-image-"]
    &[class*="attachment-"]
      max-width 100%
      height auto
  embed
  iframe
  object
  video
    margin-bottom 24px
    max-width 100%
  p
    & > embed
    & > iframe
    & > object
      margin-bottom 0
  span
    & > embed
    & > iframe
    & > object
      margin-bottom 0


/* = 資料ダウンロードフォーム
 * ------------------------------------------------------------ */

#edd_checkout_wrap
  // @extends .markdown
  form#edd_checkout_cart_form // 商品一覧
    margin 0
    #edd_checkout_cart_wrap
      table#edd_checkout_cart
        // 価格欄を削除
        tr.edd_cart_header_row th.edd_cart_item_price
        tr.edd_cart_item td.edd_cart_item_price
        tr.edd_cart_footer_row
          hidden()
        // 書き換え
        th.edd_cart_actions
          text-indent -100em
  #edd_checkout_form_wrap // 情報入力
    form#edd_purchase_form
      margin 32px 0
      .edd-payment-icons
        hidden()
      fieldset#edd_purchase_submit
        p#edd_final_total_wrap // 購入額合計
          hidden()
        p#edd-cancel // 戻る
          hidden()
        input#edd-purchase-button
          width 100%
      fieldset#edd_checkout_user_info
        textarea
          resize vertical
          min-height 68px


/* = UI
 * ------------------------------------------------------------ */

@import '_ui'
@import '_main'
