@import 'nib'
global-reset()
@import '../../client/components/bootstrap-stylus/stylus/bootstrap'
@import 'plugin/font-awesome'
// @import 'plugin/theme'
// @import 'ie'
// @import 'editor-style'


/* = Settings
 * ------------------------------------------------------------ */

@import 'setting'


/* = 参考サイト(綺麗なサイト)
 * ------------------------------------------------------------
filter: (.+)$ => filter: unquote("\1")
http://blog.mah-lab.com/2013/05/01/wordpress-on-heroku/

オーバーラップ
http://blueimp.github.io/jQuery-File-Upload/

PJAX
http://kakurezatou.com/

デザイン
http://100tokyo.jp/listings/arare

スタバ
http://www.starbucks.co.jp/coffee/?nid=tbn_02_pc

アイコン
http://design-develop.net/vector-design/page/2

Apple
http://www.apple.com/jp/environment/our-progress/
http://www.apple.com/safari/

アナ雪(スライダー)
http://ugc.disney.co.jp/blog/movie/category/anayuki#gallerySliderArea

その他
http://handmade-marche.jp/
http://bradleyhaynes.com/freelance

れすぽんしぶ参考
https://iroya.jp/

google地図
https://developers.google.com/maps/documentation/javascript/examples/map-simple-async
地図れすぽんしぶ
http://www.lifehacker.jp/2013/12/131209google_maps_responsive.html

amazon
http://www.amazon.co.jp/gp/product/B00IPJNROO/ref=sr_1_2_rd?ie=UTF8&child=B00IPJNSYI&qid=1398656036&sr=1-2%3C/a%3E

twitterのポップアップ
https://twitter.com/syotaaaaan13/status/460068236994682880/photo/1

綺麗なサイト au
http://www.au.kddi.com/content/utapass/?bid=we-we-sn-0013
http://www.kddi.com/phone/au-hikariphone/

Aboutページの沿革によさそう
http://ricostacruz.com/jquery.transit/#top
Aboutページの顔アイコン
http://leko.jp/archives/157

*/
/* = Fonts
 * ------------------------------------------------------------ */

// @font-face
//   font-family: 'HelveticaNeueUltraLight'
//   src: url('../fonts/helveticaneueultralight-webfont.eot')
//   src: local('☺'), url('../fonts/helveticaneueultralight-webfont.woff') format('woff'), url('../fonts/helveticaneueultralight-webfont.ttf') format('truetype'), url('../fonts/helveticaneueultralight-webfont.svg#webfontfOyiCJQU') format('svg')
//   font-weight: normal
//   font-style: normal


/* = Global
 * ------------------------------------------------------------ */

body
  position relative
  -webkit-font-smoothing antialiased
  color font_color
  font-size 13px
  font-weight normal
  font-reset()
  // font-helvetica()
  // background #f0eae1
  // background background_color
  // background-image url(path + 'page-bg-tile.jpg')
  // background-repeat repeat

h1
h2
h3
h4
h5
h6
  font-reset()

a
  &
  &:visited
    color #AC0404
  &:hover
    color #CA3C08
    text-decoration none
    transition color 0s ease

input
textarea
  outline 0

// 透明度
.fade
  opacity 1 !important

// 非表示
.hidden
  hidden()

.on
  animation fadeInFrame .8s linear
.off
  animation fadeOutFrame .8s linear

/* = 開発用プレビュー
 * ------------------------------------------------------------ */

dev_height = 15360px * 1.1
dev_width = 1980px * 1.1
.ui-dev
  hidden()
  position absolute
  top -10px
  top -8151px
  left 50%
  z-index -1
  opacity .35
  overflow hidden
  width 960px
  height dev_height
  margin-left -480px
  .preview
    width dev_width
    height dev_height
    margin-left -((dev_width - 960px)/2)
    background-image url(path + '../../_/doc/okilab-web-v1.1.png')
    background-size dev_width dev_height
    background-repeat no-repeat


/* = UI
 * ------------------------------------------------------------ */

@import 'ui-element'
@import 'ui-container'
@import 'ui-archive'
@import 'ui-single'
@import 'ui-page'


/* = Plugin Styles
 * ------------------------------------------------------------ */

#api
  hidden()

#lang_sel_footer
  padding 3px 0
  background #333
  border none
  ul
    clearfix()
    width 100%
    max-width 960px
    margin 0 auto
    li
      display inline-block
      margin 0
      &:before
      &:after
        content none
      a
        display inline-block
        padding 5px 10px
        color #eee
        font-size 11px
        font-weight normal
        line-height 1
        span
          &.icl_lang_sel_current
          &.icl_lang_sel_native
          &.icl_lang_sel_translated
            hidden()


body
  &.signed_in
    .ui-container
      padding-top 34px
      @media screen and (max-width: 782px)
        padding-top 46px
    header.ui-header
      &.fixed
        .ui-navi-container
          top 32px
          @media screen and (max-width: 782px)
            top 46px

  &.index
    .ui-navi-container
      background-color transparent !important
      .ui-navi
        background-color #799fa4 !important
    .ui-breadcrumbs-container
      hidden()
