@import 'setting'

/* 全体コンテナ
 * ----------------------------------------------------- */
.ui-container
  hoge 0
  // &.behind
  //   position fixed !important
  //   width 100%
  //   top 0

/* ヘッダ
 * ----------------------------------------------------- */
header.ui-header
  position relative
  z-index 1000
  width 100%
  margin 0 auto

  .ui-logo
  .ui-public-relaions
  .ui-navi
  .ui-breadcrumbs
    clearfix()
    display block
    position relative
    // width 100%
    // max-width max_width
    // margin 0 auto

  // サイトタイトル
  .ui-logo
    margin-top 20px
    .home-link
      display block
      min-height 80px
      height 80px
      width 160px
      margin 5px auto
      padding 0
      .site-title
        display block
        height 100%
        width 100%
        margin 0
        padding 0
        font-size 12px
        font-weight normal
        text-align center
        text-indent -9000em
        overflow hidden
        background transparent url(path + 'logo-1x.png') no-repeat 20px 0
        transition all .25s ease-in-out
        &:hover
          opacity .7
      .site-description
        display none

  // 広報スライダー
  .ui-public-relaions
    margin-bottom 10px
    border 18px solid rgba(240, 240, 240, .45)
    .public-relaion-aritcle
      img
        width 100%
        height auto
        border 4px solid #fff

  // ナビ／パンくず共通
  .ui-navi-container
  .ui-breadcrumbs-container
    background-color transparent
    transition all .25s ease
  .ui-navi-container > nav.ui-navi
  .ui-breadcrumbs-container > nav.ui-breadcrumbs
    position relative

  // ナビメニュー
  .ui-navi-container
    navi-background base_color
    background-image linear-gradient(#799fa4 0%, #789A9E 49%, #709499 50%, #7EA6AC 100%)
    nav.ui-navi
      // 検索窓
      .ui-navi-search
        position relative
        display block
        padding 0
        @media (min-width: 1680px)
          display block !important
          position fixed
          right 0
          top 0
          width 240px
        form
          label
            display block
            margin 5px 8px
            text-align right
            input.search-field
              -webkit-font-smoothing antialiased
              width 100%
              height 23px
              margin 2px 0
              padding 0 8px
              padding-right 25px
              background-color #f3f3f3
              border-width 0
              color #6A7180
              font-size 14px
              font-weight normal
              line-height 23px
              border-radius 23px
              box-shadow inset -1px -1px 0 #eee, inset 1px 1px 0 #eee
              &:focus
                background-color #fff
                border-width 0
          p.search-icons
            position absolute
            top 9px
            right 15px
            margin 0
            span
              color #E9EAED
            i.fa
              cursor pointer
              padding-left 3px
              color #A7ACB5
        input.search-submit
          hidden()
      // メニュー
      .ui-navi-menu
        padding 0
        .menu-header-container
          #menu-header
            clearfix()
            margin 0
            padding 0
            li
              //- .col-xs-4
              width 33.33333333333333%
              //- .col-sm-2
              @media (min-width:768px)
                width 16.666666666666664%

              position relative
              display block
              float left
              min-height 1px
              text-align center
              a
                display block
                padding 10px 10px 11px
                color #fff
                font-size 13px
                font-weight bold
                line-height 16px
                text-shadow base_text_shadow
                transition all .1s ease-in-out
                text-transform uppercase
              &:hover
                a
                  background-color base_color_hover
              &.current-menu-item
                a
                  background-color base_color_current
                  &:after
                    content ''
                    display block
                    position absolute
                    bottom -5px
                    left 50%
                    width 0
                    margin-left -7px
                    border 7px solid rgba(0, 0, 0, 0)
                    border-top-color base_color_current
                    border-bottom-width 0
                    transition all .25s ease-in-out
                &:hover
                  a
                    background-color base_color_hover
                    &:after
                      border-top-color base_color_hover
            .current_page_item > a
            .current_page_ancestor > a
            .current-menu-item > a
            .current-menu-ancestor > a
              text-decoration none

  // パンくずリスト
  .ui-breadcrumbs-container
    background-color sub_color
    nav.ui-breadcrumbs
      text-transform uppercase

      & > *
      a
        color #5D5A53
      & > *
        display block
        float left
        margin 0
        font-size 12px
        font-weight bold
        line-height 38px
        text-shadow 0px 1px 0 #fff
      a
        transition color .15s ease
        &:hover
          color #ac0404
      i.fa
        font-size 18px
        line-height 36px
        padding 0 15px 2px
        color #D2CFC9


/* メイン
 * ----------------------------------------------------- */
.ui-content
  //- メインコンテンツ
  article.ui-article
    position relative
    min-height 270px
    margin-top 30px
    margin-bottom 90px

    // // サイドバー
    // aside.ui-sidebar
    //   .ui-sidebar-calendar
    //     hoge 0

    // 投稿アイテム一覧タイトル
    hgroup.page-title
      h1
        margin 0 auto
        padding 30px 0 80px
        font-size 20px
        line-height 1.2em
        text-align center
        text-transform uppercase
    hgroup.page-recommend
      recommend_zoom = 0.9
      h2
        font-size 18px * recommend_zoom
        line-height 1.2em * recommend_zoom
        margin (10px * recommend_zoom) auto (50px * recommend_zoom)
        text-align center
        text-transform uppercase

    .ui-default
    .ui-index
    .ui-archive
    .ui-single
    .ui-static
      hidden()
      opacity 0
      transition opacity .25s ease
      &.fade
        show()
        opacity 1

/* フッタ
 * ----------------------------------------------------- */
footer.ui-footer
  position relative
  margin-top 20px
  background-color sub_color

  .footer-contents
    clearfix()
    position relative
    padding-top 60px
    &:before
      content ''
      display block
      position absolute
      top 0
      right 12.5%
      width 0
      margin-right -30px
      border 30px solid rgba(0, 0, 0, 0)
      border-top-color #fff
      border-bottom-width 0

    // タイトルなどのフッター共通デザイン
    .footer-title //hgroup
      clearfix()
      h1
        margin 4px 0 16px
        color base_color_current
        font-size 15px
        font-weight bold
        text-transform uppercase
        letter-spacing .1em
    p
      font-size 12px
      font-weight bold
    .links // ul
      .link // li
        padding 0px 0 4px
        a span
        span
          color base_color_current
          font-size 13px
        a span:hover
          color lighten(base_color, 40%)

    .footer-about
      hoge 0

    .footer-social
      .footer-content
        padding 20px 0
        span
          display block
          overflow hidden
          height 24px
        .twitter
        .facebook
          display block
          height 24px
          margin-bottom 8px
          text-align left

    .footer-projects
      hoge 0

    .footer-links
      hoge 0

    .footer-access
      #map_canvas_footer
        width 100%
        height 200px
      .address
        font-size 12px

    .footer-feedback
      .wpcf7
        form.wpcf7-form
          & > p
            margin-bottom 8px
            input.wpcf7-submit
              button-pink()
          .wpcf7-response-output
            position relative
            margin 10px 0 0
            font-size 11px
            &:before
              content ''
              display block
              position absolute
              top -8px
              right 50%
              width 0
              margin-right -8px
              border-width 8px
              border-top-width 0

  .ui-site
    background-color base_color
    p.site-info
      margin 0
      padding 15px 0
      color #fff
      text-align center
