@import 'setting'

/* 全体コンテナ
 * ----------------------------------------------------- */
.ui-container
  &.behind
    position fixed !important
    width 100%
    top 0

/* ヘッダ
 * ----------------------------------------------------- */
header.ui-header
  position relative
  z-index 1000
  width 100%
  margin 0 auto

  &.fixed
    .ui-navi-container
      z-index 1000
      position fixed
      top 0
    .ui-breadcrumbs-container
      border-bottom 1px solid sub_color_edge

  .ui-logo
  .ui-public-relaions
  .ui-navi
  .ui-breadcrumbs
    clearfix()
    display block
    position relative
    width 100%
    max-width max_width
    margin 0 auto

  // サイトタイトル
  .ui-logo
    margin-top 20px
    .home-link
      display block
      min-height 80px
      height 80px
      width 160px
      margin 5px auto
      padding 0
      .site-title
        display block
        height 100%
        width 100%
        margin 0
        padding 0
        font-size 13px
        font-weight normal
        text-align center
        text-indent -9000em
        overflow hidden
        background transparent url(path + 'logo-1x.png') no-repeat 20px 0
        transition all .25s ease-in-out
        &:hover
          opacity .7
      .site-description
        display none

  // 広報スライダー
  .ui-public-relaions
    margin-bottom 10px
    border 18px solid rgba(240, 240, 240, .45)
    // background-color sub_color
    .public-relaion-aritcle
      img
        width 100%
        height auto
        border 4px solid #fff

  .ui-navi-container
  .ui-breadcrumbs-container
    width 100%
    nav.ui-navi
    nav.breadcrumbs
      clearfix()
      position relative
      width 100%
      margin 0 auto

  // ナビメニュー
  .ui-navi-container
    navi-background base_color
    transition all .25s ease
    nav.ui-navi
      min-height 35px

      // 検索窓
      .ui-navi-search
        position relative
        display block
        padding 0
        // float right
        // width (960px - 127px * 6)
        form
          label
            display block
            margin 7px 8px
            text-align right
            input.search-field
              -webkit-font-smoothing antialiased
              width 100%
              height 25px
              margin 2px 0
              padding 0 8px
              padding-right 25px
              background-color #fff
              border-width 0
              color #6A7180 // #141823
              font-size 14px
              font-weight normal
              line-height 23px
              border-radius 0 // 4px
              box-shadow inset -1px -1px 0 #eee, inset 1px 1px 0 #eee
              &:focus
                border-width 0
          p.search-icons
            position absolute
            top 12px
            right 15px
            margin 0
            span
              color #E9EAED
            i.fa
              cursor pointer
              padding-left 3px
              color #A7ACB5
        input.search-submit
          hidden()

      // メニュー
      .ui-navi-menu
        padding 0
        .menu-header-container
          // width (127px * 6)
          #menu-header
            clearfix()
            margin 0
            padding 0
            li
              //- .col-xs-4
              width 33.33333333333333%
              //- .col-sm-2
              @media (min-width:768px)
                width 16.666666666666664%

              position relative
              display block
              float left
              min-height 1px
              // width 127px
              text-align center
              a
                display block
                // width 100%
                padding 13px 10px 14px
                color #fff
                font-size 13px
                font-weight bold
                line-height 16px
                text-shadow base_text_shadow
                transition all .25s ease-in-out
                text-transform uppercase
              &:hover
                a
                  background-color base_color_hover
              &.current-menu-item
                a
                  background-color base_color_current
                  &:after
                    content ''
                    display block
                    position absolute
                    bottom -6px
                    left 50%
                    width 0
                    margin-left -7px
                    border 7px solid rgba(0, 0, 0, 0)
                    border-top-color base_color_current
                    border-bottom-width 0
                    transition all .25s ease-in-out
                &:hover
                  a
                    background-color base_color_hover
                    &:after
                      border-top-color base_color_hover
            .current_page_item > a
            .current_page_ancestor > a
            .current-menu-item > a
            .current-menu-ancestor > a
              text-decoration none

  // パンくずリスト
  .ui-breadcrumbs-container
    background-color sub_color
    transition all .25s ease
    .ui-breadcrumbs
      padding-top 42px
      text-transform uppercase
      nav.breadcrumbs
        & > *
        a
          color #5D5A53
        & > *
          display block
          float left
          margin 0
          font-size 12px
          font-weight bold
          line-height 38px
          text-shadow 0px 1px 0 #fff
        a
          transition color .15s ease
          &:hover
            color #ac0404
        i.fa
          font-size 18px
          line-height 36px
          padding 0 15px 2px
          color #D2CFC9


/* メイン
 * ----------------------------------------------------- */
.ui-contents
  width 100%
  max-width max_width
  margin 0 auto
  .ui-content
    position relative
    width 100%
    margin 30px auto 90px
    // margin 30px 20px 90px

    // サイドバー
    aside.ui-sidebar
      .ui-sidebar-calendar
        hoge 0

    // ページ毎のコンテンツ
    article.ui-article
      min-height 270px

      // 投稿アイテム一覧タイトル
      hgroup.page-title
        h1
          margin 0 auto
          padding 30px 0 80px
          font-size 20px
          line-height 1.2em
          text-align center
          text-transform uppercase
      hgroup.page-recommend
        recommend_zoom = 0.9
        h2
          font-size 18px * recommend_zoom
          line-height 1.2em * recommend_zoom
          margin (10px * recommend_zoom) auto (50px * recommend_zoom)
          text-align center
          text-transform uppercase

      .ui-default
      .ui-index
      .ui-archive
      .ui-single
      .ui-static
        hidden()
        opacity 0
        transition opacity .25s ease
        &.fade
          show()
          opacity 1

        // .archive  => トップページ / アーカイブページ / 検索結果ページ
        // .single   => 記事ページ
        // .ui-page   => 静的ページ

/* フッタ
 * ----------------------------------------------------- */
footer.ui-footer
  padding 0 0 20px
  background #414141
  .ui-hoge
    background-color #f4f4f4 // TODO: フッターの前にこの色を入れると良さそう
  .ui-site
  .ui-social
    clearfix()
    width 100%
    max-width 640px
    margin 0 auto
  .ui-site
    p.site-info
      margin 0
      padding 20px 0
      color #fff
      text-align center
  .ui-social
    span
      display block
      overflow hidden
      height 24px
      &.twitter
        text-align right
      &.facebook
        text-align left

