@import 'setting'

/* 全体コンテナ
 * ----------------------------------------------------- */
body
  &.gallery-enabled
    position relative
    overflow hidden

/* ヘッダ
 * ----------------------------------------------------- */
header.ui-header
  .ui-logo
  .ui-public-relaions
  .ui-navi
  .ui-breadcrumbs
    clearfix()
    display block
    position relative

  // サイトタイトル
  .ui-logo
    hidden()
    margin-top 20px
    .home-link
      display block
      min-height 80px
      height 80px
      width 160px
      margin 5px auto
      padding 0
      .site-title
        display block
        height 100%
        width 100%
        margin 0
        padding 0
        font-size 12px
        font-weight normal
        text-align center
        text-indent -9000em
        overflow hidden
        background transparent url(path + 'logo-1x.png') no-repeat 20px 0
        transition all .25s ease-in-out
        &:hover
          opacity .7
      .site-description
        display none

  // 広報スライダー
  .ui-public-relaions
    hidden()
    .public-relaion-aritcle
      border 18px solid rgba(240, 240, 240, .45)
      img
        width 100%
        height auto
        border 4px solid #fff

  // ナビ／パンくず共通
  .ui-navi-container
  .ui-breadcrumbs-container
    background-color transparent
    transition all .25s ease
  .ui-navi-container > nav.ui-navi
  .ui-breadcrumbs-container > nav.ui-breadcrumbs
    position relative

  // パンくずリスト
  .ui-breadcrumbs-container
    background-color sub_color
    border-bottom 1px solid #e1e8ed
    .js-breadcrumbs
      z-index 1

  // トップページ
  &.home // .ui-header
    .ui-logo
    .ui-public-relaions
    .ui-navi-container
      visible()

/* メイン
 * ----------------------------------------------------- */
.ui-content
  //- メインコンテンツ
  .ui-article // article
    position relative
    min-height 640px
    transition opacity .1s ease
    &.fetching
      opacity .7

    // 投稿アイテム一覧タイトル
    hgroup.page-title
      h1
        margin 0 auto
        padding 50px 0 70px
        font-size 20px
        line-height 1.2em
        text-align center
        text-transform uppercase
    hgroup.page-recommend
      recommend_zoom = 0.9
      h2
        font-size 18px * recommend_zoom
        line-height 1.2em * recommend_zoom
        margin (10px * recommend_zoom) auto (50px * recommend_zoom)
        text-align center
        text-transform uppercase

/* フッタ
 * ----------------------------------------------------- */
footer.ui-footer
  position relative
  margin-top 20px
  background-color sub_color

  .footer-contents
    clearfix()
    position relative
    padding-top 60px
    &:before
      content ''
      display block
      position absolute
      top 0
      right 12.5%
      width 0
      margin-right -30px
      border 30px solid rgba(0, 0, 0, 0)
      border-top-color body_background
      border-bottom-width 0

    // タイトルなどのフッター共通デザイン
    .footer-title //hgroup
      clearfix()
      h1
        margin 4px 0 16px
        color base_color_current
        font-size 15px
        font-weight bold
        text-transform uppercase
        letter-spacing .1em
    p
      font-size 12px
      font-weight bold
    .links // ul
      .link // li
        padding 0px 0 4px
        a span
        span
          color base_color_current
          font-size 13px
        a span:hover
          color lighten(base_color, 40%)

    .footer-about
      hoge 0

    .footer-social
      .footer-content
        max-width 100%
        overflow hidden
        padding 20px 0
        span
          display block
          overflow hidden
          height 24px
        .twitter
        .facebook
          display block
          height 24px
          margin-bottom 8px
          text-align left

    .footer-projects
      hoge 0

    .footer-links
      hoge 0

    .footer-access
      #map_canvas_footer
        width 100%
        height 200px
      .address
        font-size 12px

    .footer-feedback
      .wpcf7
        form.wpcf7-form
          & > p
            margin-bottom 8px
            input.wpcf7-submit
              button-pink()
          .wpcf7-response-output
            position relative
            margin 10px 0 0
            font-size 11px
            &:before
              content ''
              display block
              position absolute
              top -8px
              right 50%
              width 0
              margin-right -8px
              border-width 8px
              border-top-width 0

  .ui-site
    background-color base_color
    p.site-info
      margin 0
      padding 15px 0
      color #fff
      text-align center
