@import 'setting'

/* = 静的ページ
 * ------------------------------------------------------------ */
#contents
  // 投稿アイテム個別ビュー
  .content-item
    &.item-page
      position relative
      padding 0
      .post-section // section
        position relative
        margin-bottom 0
        padding 50px 0
        background-size cover
        background-position 0% 50%

        // 背景色
        &:nth-child(even)
          background-color lighten(sub_color, 0%)
        &:nth-child(odd)
          background-color #fff
        &:first-child
          background-color transparent

        // 画像背景
        .img-background-frame
          z-index -1
          overflow hidden
          position absolute
          top -35px
          left -15px
          right @left
          .img-background // img
            min-width 1440px

        // 画像タイトル
        .page-subtitle // hgroup
          h2
          h3
            text-align center
            text-transform uppercase
          h2 // 全幅,中央寄せ
            margin 0
            padding 20px 0
            .img-responsive // img
              margin 0 auto
          h3 // 固定幅,左寄せ
            margin 20px 0 60px
            padding 0 0 10px
            border-bottom 1px solid #ddd

          // 教授の顔
          .face
            height 180px
            width @height
            margin -140px auto 0
            background-color #fff
            background-size cover
            background-position 50% 25%
            border-radius 50%
            border 6px solid darken(sub_color, 5%)
            // box-shadow 0 6px 0 darken(sub_color, 5%)
            transition all .4s ease
            &:hover
              position relative
              transform translateY(-0.5em)

        // ソーシャルアイコン
        .socials
          padding-bottom 10px
          text-align center
          a
            padding 0 8px
            font-size 32px
            i
              transition all .25s ease
              &.fa-globe
              &.fa-home
                color #E76860
              &.fa-twitter
                color #7A9EA2
              &.fa-youtube-play
                color #64615A //#C51514
              &.fa-envelope
                color #64615A
              &:hover
                // opacity .72
                scale(1.2)

        // 年表
        #slider-holder
          position relative
          max-width 560px
          margin 60px auto 40px
          font-size 14px
          font-weight 300
          @media screen and (max-width: 640px)
            margin-top 80px
          & > div
            outline none
          .tray
            cursor pointer
            display inline-block
            position relative
            top 0
            left 0
            width 70%
            height 20px
            margin 0 20px
            vertical-align top
            @media screen and (max-width: 640px)
              margin 0 6.5%
            .bar
              position absolute
              top 50%
              left 0
              width 100%
              height 1px
              background-color #888
            .handle-holder
              position absolute !important
              top 50%
              left 0
              .handle
                cursor pointer
                position relative
                width 27px
                height 27px
                margin-left -13px
                margin-top -13px
                background-color #fff
                background-image url('http://images.apple.com/v/30-years/c/images/datavis/scrub-handle-light.png')
                background-size 25px 25px
                background-repeat no-repeat
                background-position 1px 1px
                box-shadow 0 0 0 3px #fff
                border-radius 30px
              .hit-area
                position absolute
                width 50px
                height 50px
                top -25px
                left -25px
              .handle-label-holder
                position absolute
                top -40px
                box-sizing content-box
                @media (max-device-width: 568px)
                  top -30px
                .handle-label-text
                  position relative
                  left -50%
                  color #000
                  font-size 1.3em
                  line-height 1.2em
                  @media screen and (max-width: 640px)
                    font-size 1.8em
          .min-label
          .max-label
            display inline-block
            height 100%
            vertical-align top
            cursor pointer
            color #000
            line-height 20px
            @media screen and (max-width: 640px)
              font-size 1.5em

        // テキスト共通
        p.text-field
        .text-field-custom
        .history-field
          margin 20px auto
          padding 0 15px
          width 100%
          max-width 860px
          color #333
          font-size 1.333em
          line-height 1.688
          text-align center
          text-decoration none
          @media (max-width: 768px)
            font-size 1.111em

        // メンバー一覧
        .text-field-custom
          .face
            width 100%
            max-width 720px
            height 320px
            margin 10px auto
            background-color #fff
            background-size cover
            background-position 50% 50%
            box-shadow 1px 4px 0 #e7e7e7, -1px -1px 0 #e7e7e7
            transition all .25s ease
          .members
            clearfix()
            margin-bottom 40px
            .member
              padding-bottom 4px
              line-height 1.6
              text-align center
              &.member-td
                opacity .2
                transition opacity .4s ease
                &.default
                &.visible
                  opacity 1
              h4
                margin 24px 0 36px
                font-weight bold
                text-align center
                text-transform uppercase
                letter-spacing .1em
                .fa
                span
                  display block
                  padding-top 3px
                  color lighten(base_color, 30%)
                  font-size 1.2em
                  font-weight 300
                .fa
                  font-size 2.5em
              span
                font-size .76em

        // 沿革
        .history-field
          clearfix()
          margin-top 60px
          margin-bottom 40px
          .histories
            content ''
            display table
            position relative
            width 100%
            clear both
            @media (min-width: 600px)
              &:after
                content ''
                display block
                position absolute
                left 50%
                top 50px
                bottom -40px
                width 6px
                margin-left -3px
                background-color #e76860
            .history
              .in
                clearfix()
                position relative
                width 100%
                padding 20px
                background-color #fff
                transition all .1s linear
                .date
                .title
                .description
                  font-style normal
                  line-height 1.3
                  text-align justify
                .date
                .title
                  color #333
                  font-size 1.7em
                  font-weight normal
                .date
                  position absolute
                  top 20px
                  right 20px
                .title
                  margin 0 0 8px
                .description
                  color #666
                  font-size 1.0em

              @media (min-width: 600px)
                display block
                position relative
                margin-bottom 20px
                width 50%
                .in
                  &:before
                  &:after
                    content ''
                    display block
                    position absolute
                    width 0
                    height 0
                    border solid 12px transparent
                &:nth-child(odd)
                  clear both
                  float left
                  padding-right 40px
                  &:after
                    top 30px
                    right -10px
                  .in
                    &:after
                      top 30px
                      right -24px
                    &:after
                      border-left-color white
                &:nth-child(even)
                  clear right
                  float right
                  margin-top 100px
                  padding-left 40px
                  &:after
                    top 40px
                    left -10px
                  .in
                    &:after
                      top 35px
                      left -24px
                    &:after
                      border-right-color white
                // どっと
                &:after
                  content ''
                  display block
                  position absolute
                  z-index 1
                  width 20px
                  height 20px
                  background #555
                  box-shadow 0 0 5px rgba(0, 0, 0, .1), 1px 1px 0 rgba(0, 0, 0, .2), inset 0 0 0 3px #fafafa
                  border-radius 10px


        // アクセス
        #map_canvas
          height 270px
          margin-top 0
          margin-bottom 20px
        .access
          margin 20px auto
          i.fa-map-marker
            font-size 3.7em
          .room
          .address
            margin 0
          .room
            margin-bottom 8px
            font-size 16px
            line-height 1.588
            strong
              display block
              padding-bottom 1px
              font-size 1.333em
              font-weight normal
          .address
            padding-bottom 30px
            font-size 12px
            line-height 1.588
            i
              padding-right 4px
          .attention
            color #BE1E1E
            font-size 1.333em
            line-height 1.688

      &.item-about
        .post-section
          &:first-child
            padding-bottom 100px

      /* = コンタクトページ
       * ------------------------------------------------------------ */
      &.item-contact
        gallery()
        .Gallery-content
          .Gallery-media
            .wpcf7
              text-align left
        &.Gallery
          .Gallery-content
            .Gallery-media
              .wpcf7
                margin auto

      .wpcf7
        width 100%
        max-width 800px
        margin 20px auto
        padding 40px 80px 20px
        background sub_color
        form.wpcf7-form
          & > hgroup
            margin-bottom 40px
            text-align center
            h2
            p
              color base_color
              font-weight bold
            h2
              margin-top 30px
              font-size 36px
              text-transform uppercase
            p
              margin 30px 0
              font-size 15px
          & > p
            margin 0 40px 20px
            font-size 14px
            font-weight bold
            span.wpcf7-form-control-wrap
              span.wpcf7-not-valid-tip
                padding 2px 0 0
                color #C0392B
              input
              textarea
                display block
                width 100%
                height 34px
                padding 6px 12px
                font-size 14px
                line-height 1.42857143
                color #555
                background-color #FFF
                background-image none
                border none
                border-radius 2px
                box-shadow inset 0 1px 1px rgba(0, 0, 0, .07)
                transition border-color ease-in-out .15s, box-shadow ease-in-out .15s
              textarea
                height 200px
                max-height 200px
                min-height 200px
                resize none
            input.wpcf7-submit
              user-select()
              cursor pointer
              vertical-align middle
              padding 10px 40px
              margin 0
              color #FFF
              font-size 17px
              line-height 1.1em
              font-weight normal
              text-align center
              white-space normal
              background-color base_color
              border none
              border-radius 2px
              transition border .25s linear, color .25s linear, background-color .25s linear
          .wpcf7-response-output
            display block
            margin 30px 40px
            padding 10px
            color #fff
            font-size 13px
            font-weight bold
            text-align center
            border none
            border-radius 2px
            background-color transparent
            &.wpcf7-mail-sent-ok
              background-color #2980B9
            &.wpcf7-mail-sent-ng
              background-color #C0392B
            &.wpcf7-spam-blocked
              background-color #C0392B
            &.wpcf7-validation-errors
              background-color #C0392B