@import 'config'


/* 全体コンテナ
 * ----------------------------------------------------- */

margin_sign_in = 32px
margin_sign_in_narrow = 44px

body
  width 100%
  min-width 960px
  background-color background_color
  // 管理者バー
  &.signed_in
    padding-top margin_sign_in
    @media screen and (max-width: 782px)
      padding-top margin_sign_in_narrow

    // ギャラリー
    #galleryBox .gallery-layer .gallery-layer__close
    #contactBox .gallery-layer .gallery-layer__close
      top margin_sign_in

  // ギャラリー
  &.gallery-enabled
    position relative
    overflow hidden

  .ui-container
    .ui-content
      min-height 540px

  .page-layer__media--confirm--page // ダウンロード申請の確認
  .page-layer__media--success--page // ダウンロード申請の成功
  .page-layer__media--fail--page    // ダウンロード申請の失敗
  .page-layer__media--history--page // ダウンロード申請の購入履歴
    .contact-content-wrap
      .contact-content
        width 100%
        max-width 750px
        margin -40px auto 0
        padding 70px 75px 65px
        background #fff
        & > p
          margin 30px 0 40px
          font-size 26px
          text-align center
        & > h3
          @extend legend

  // お会計 - 購入確認
  #edd_purchase_receipt // table
    hidden()
  #edd_purchase_receipt_products // table
    width 98%
    margin 0 2% 0 1%
    thead
      tr
        border-bottom 1px solid #e5e5e5
        th
          margin-bottom 4px
          padding 12px 8px
          color #999
          &:first-child
            visible()
          &:last-child
            hidden()
    tbody
      tr
        border-bottom 1px solid lighten(#e5e5e5, 50%)
        &:last-child
          border-bottom none
        td
          clearfix()
          &:first-child
            visible()
          &:last-child
            hidden()
          .edd_purchase_receipt_product_name
          .edd_purchase_receipt_product_notes
          .edd_purchase_receipt_files .edd_download_file .edd_download_file_link // ul > li > a
            display block
            float left
            width 33.3333%
            padding 8px
          .edd_purchase_receipt_files .edd_download_file .edd_download_file_link
            float right
          .edd_purchase_receipt_files /* ul */
            .edd_download_file /* li */
              .edd_download_file_link /* a */
                hoge 0

  // お会計
  #edd_checkout_wrap
    #edd_checkout_cart_form-title // h2
      margin 30px 0 40px
      font-size 26px
      text-align center
    #edd_checkout_cart_form // form
      #edd_checkout_cart_wrap
        margin-bottom 80px
        #edd_checkout_cart // table
          width 100%
          .edd_cart_header_row // thead > tr
            border-bottom 1px solid #e5e5e5
            .edd_cart_item_price // th 価格
              hidden()
            .edd_cart_item_name // th プロダクト名
            .edd_cart_actions // th 操作
              margin-bottom 4px
              padding 12px 8px
              color #999
          .edd_cart_item // tbody > tr
            .edd_cart_item_price // td 価格
              hidden()
            .edd_cart_item_name // td プロダクト名
            .edd_cart_actions // td 操作
              padding 8px
              .edd_cart_remove_item_btn // a
                hoge 0
            .edd_cart_item_name // td プロダクト名
              font-weight bold
          .edd_cart_footer_row edd_cart_discount_row // tfoot > tr
          .edd_cart_footer_row  // tfoot > tr
            hidden()
    #edd_checkout_form_wrap
      #edd_purchase_form // form
        .edd-payment-icons
          hidden()
        #edd_checkout_user_info // fieldset
          p
            .edd-label // label
              margin 0
              color #67655e
              font-size 14px
              line-height 20px
              font-weight bold
            .edd-description // span
              hoge 0
            .edd-input // input
              display block
              width 100%
              height 34px
              padding 6px 12px
              margin-bottom 20px
              font-size 14px
              line-height 1.42857143
              color #555
              background-color #f4f7f8
              background-image none
              border none
              border-radius 2px
              box-shadow inset 0 1px 1px rgba(0, 0, 0, .07)
              transition border-color, box-shadow ease-in-out .15s
            &#edd-email-wrap
              clearfix()
              width 100%
            &#edd-last-name-wrap
              float left
              width 48%
            &#edd-first-name-wrap
              float right
              width 48%
              margin-right 0%
            &#edd-company-wrap
              clearfix()
              width 100%
            &#edd-objective-wrap
              clearfix()
              textarea
                width 600px
                max-width @width
                min-width @width
                // height 120px
                // min-height 120px
                max-height 480px
        #edd_purchase_submit
          .edd_errors
            .edd_error
              padding 10px
              color #fff
              font-size 13px
              font-weight bold
              text-align center
              background-color #c0392b
              border-radius 2px
              // &#edd_error_invalid_first_name
              // &#edd_error_invalid_company
              // &#edd_error_invalid_objective
          #edd_final_total_wrap // p
            hidden()
          #edd-purchase-button // button
            button-pink()
            outline none
            display block
            width 240px
            margin 50px auto 10px
            padding 10px
            color #fff
            // background-color #799fa4
            box-shadow none
            border none
            transition box-shadow, background-color .25s ease


/* = Header
 * ----------------------------------------------------- */

header_bar_height = 40px

.ui-header
  position relative
  width 100%
  margin 0
  background #fff
  border-bottom 1px solid rgba(0, 0, 0, .075)

.header-bar-wrap
  container()
  .header-bar
    clearfix()
    margin 0 -15px
    background-image url(path + '/site_logo_2x.png')
    background-size 235px
    background-position 50% 40px
    background-repeat no-repeat
    // ナビバー共通
    .header-bar__site-menu // nav
      margin 96px 0 0
      .navigation-menu // ul
        clearfix()
        margin 0
        padding 0
        .menu-item // li
          position relative
          display block
          float left
          min-height 1px
          text-align left
          a
            omission()
            display block
            padding 8px 0
            margin-right 20px
            color #79776b // sub_color
            font-size 14px // 13px
            font-weight 500
            line-height 16px
            letter-spacing 0
            text-transform capitalize // uppercase
            text-decoration none
            // box-shadow inset 0 -1px 0 #ddd
            transition all .15s ease-in-out
          &:hover > a
          &.current-menu-item > a
            color darken(base_color, 25%)
            box-shadow inset 0 -1px 0 @color
          .current_page_item > a
          .current_page_ancestor > a
          .current-menu-item > a
          .current-menu-ancestor > a
            text-decoration none

    // サイトナビバー
    .header-bar__site-menu-wrap
      .header-bar__site-menu // nav
        .navigation-menu // ul
          .menu-item // li
            float left
            text-align left
    // サイトロゴ
    .header-bar__site-logo-wrap
      a.header-bar__site-logo
        display block
        cursor pointer
        width 100%
        height 140px // 165px
        .header-bar__title
        .header-bar__description
          hidden()
    // サイト検索
    .header-bar__site-search-wrap
      .header-bar__site-search
        position relative
        width 160px
        margin 92px 0 0
        float right
        .header-bar__search-form
          .header-bar__search-form__label
            display block
            margin 7px
            margin-right 0
            text-align right
            .header-bar__search-form__field
              cursor pointer
              -webkit-font-smoothing antialiased
              width 100%
              max-width 160px
              height header_bar_height - 14px
              padding 5px 9px
              padding-right 25px
              background-color #f3f3f3
              border-width 0
              color #6A7180
              font-size 12px
              font-weight normal
              line-height header_bar_height - 14px - (5px * 2)
              border-radius header_bar_height - 14px
              box-shadow inset -1px -1px 0 #eee, inset 1px 1px 0 #eee
              &:focus
                cursor text
                background-color #fff
                border-width 0
          .header-bar__search-form__icon
            position absolute
            top 10px
            right 7px
            margin 0
            span
              color #E9EAED
            .fa
              cursor pointer
              padding-left 3px
              color #A7ACB5
          .header-bar__search-form__submit
            hidden()

      .header-bar__site-menu // nav
        float right
        .navigation-menu // ul
          .menu-item // li
            float right
            text-align right

.header-breadcrumbs-wrap
  background-color sub_color
  border-bottom 1px solid #e1e8ed
  .header-breadcrumbs
    container()


/* = #GalleryBox #ContactBox
 * ----------------------------------------------------- */

gallery_info_width = 360px

#galleryBox
#contactBox
  .gallery-layer
    hidden()
    opacity 0
    z-index 500
    position fixed
    top 0
    bottom 0
    right 0
    left 0
    padding 32px
    outline none
    overflow auto
    background-color rgba(100, 97, 90, .8)
    transition opacity .25s ease
    &.active
      visible()
      opacity 1
.gallery-layer__vertical-center
  hidden()
  height 100%
  width 100%
  &.active
    visible()
    display table
  .gallery-layer__vertical-center__cell
    display table-cell
    vertical-align middle
    .gallery-layer__content-wrap
      container()
      padding-top 40px
      padding-bottom 40px
      translate3d(0, 0, 0)
      .gallery-layer__back-wrap
        .gallery-layer__back
          width 130px
          margin-top 15px
          padding 10px 0
          color #333
          font-weight 700
          text-align center
          text-transform uppercase
          letter-spacing .02em
          background-color #fff
          .fa
            padding-right 9px
      .gallery-layer__content
        background-color #fdfdfd
        background-clip padding-box
        border-radius 4px
        box-shadow 0 1px 5px rgba(0, 0, 0, .1)
        &.gallery-layer__content--contact
          max-width 720px
        @media screen and (max-width: 940px)
          max-width 640px
        .gallery-layer__close-target--small
          position absolute
          top 0
          left @top
          right @top
          bottom @top
        .gallery-layer__media
          position relative
          // overflow hidden
          width 100%
          height auto
          background-color sub_color
          border-radius 3px
          // box-shadow 0 0 0 1px rgba(0, 0, 0, .2), 0 1px 12px rgba(0, 0, 0, .4)
          box-shadow 0 0 0 1px rgba(0, 0, 0, .06), 0 1px 12px rgba(0, 0, 0, .12)
.gallery-layer__close
  display block
  position fixed
  top 0
  right 16px
  color #fff
  font-size 30px
  font-weight 700
  font-style normal
  cursor pointer
.gallery-layer__close-target--large
  position fixed
  top 0
  right 0
  left 0
  bottom 0

.gallery-layer__media
  clearfix()
  .gallery-content__info-wrap
    position relative
    float right
    height 100%
    width 33.333% // gallery_info_width
    border-left 1px solid #ddd
    border-radius 0 3px 3px 0
    .gallery-content__info
      padding 20px
      .gallery-content__info__header
        clearfix()
        .ui-calendar
          float left
          width 42px
          height @width
          .date-icon
            z-index 510
            .date-month
            .date-day
            .date-year
              z-index 511
        .gallery-content__title
          margin 4px 0 4px 55px
          font-size 17px
          font-weight bold
          word-wrap break-word
          a
            color font_color
        .gallery-content__relative-time-wrap
          margin 4px 0 4px 55px
          .gallery-content__relative-time
            color #aaa
            font-weight bold
        .gallery-content__tags
          margin 0 0 10px 55px
        .gallery-content__edit
          hidden()
      .gallery-content__info__article
        hoge 0
      .gallery-content__info__footer
        position absolute
        bottom 15px
        left @bottom
        right @bottom
        min-height 160px
        .gallery-content__info__social
          overflow hidden
          height 95px
          padding 15px
          text-align center
          &:nth-child(1)
          &:nth-child(2)
            padding-top 5px
          &:nth-child(3)
          &:nth-child(4)
            padding-bottom 5px
          &:nth-child(1)
            box-shadow inset -1px 0 0 #fff
          &:nth-child(3)
            box-shadow inset -1px 1px 0 #fff
          &:nth-child(4)
            box-shadow inset 0 1px 0 0 #fff
      .gallery-content__info__close
        cursor pointer
        position absolute
        top 4px
        right 10px
        color #D3D3D3
        font-size 24px
        font-weight bold
        line-height 24px
        text-align center
  .gallery-content__picture-wrap
    overflow hidden
    position relative
    float left
    height 100%
    width 66.666%
    border-radius 3px 0 0 3px
    .gallery-content__picture
      height 100%
      background-color #000
      .archive-media--photograph-wrap
        .archive-media--photograph
          opacity 0
          position absolute
          top 0
          left @top
          right @top
          bottom @top
          border-radius 3px 0 0 3px
          background-size cover
          background-position 50% 25%
          transition opacity .55s ease-out .15s
        .archive-media--photograph-shadow
          z-index 1
          position absolute
          top 0
          left @top
          right @top
          bottom @top
          border-radius 3px 0 0 3px
          background-color rgba(0, 0, 0, .04)
          transition background-color .05s ease-out
        &.loaded
          .archive-media--photograph
            opacity 1
      .gallery-navigations
        .gallery-navigation
          z-index 300
          opacity 0
          position absolute
          top 50%
          margin-top -(35px + 20px)
          padding 20px
          color #fff
          font-size 70px
          line-height @font-size
          text-shadow 0 0 3px rgba(0, 0, 0, .75)
          &:hover
            opacity .9 !important
          &.gallery-navigation--next
            right 0
            padding-left 100px
          &.gallery-navigation--prev
            left 0
            padding-right 100px
      &:hover
      .gallery-navigations
        .gallery-navigation
          opacity .6
  @media screen and (max-width: 940px)
    .gallery-content__info-wrap
      float none
      width 100%
      border-radius 0 0 3px 3px
      .gallery-content__info
        .gallery-content__info__footer
          position relative
          bottom auto
          left @bottom
          right @bottom
          min-height 120px
    .gallery-content__picture-wrap
      float none
      width 100%
      height 480px
      border-radius 3px 3px 0 0
      .gallery-content__picture
        .ui-load-event
          .post-preview
          .post-background
            border-radius 3px 3px 0 0
.contact-content-wrap
  .contact-content
    .contact-content__close
      cursor pointer
      height 40px
      width @height
      position absolute
      top - (@height / 2)
      right @top
      color #F1F1F1
      font-size @height
      line-height @height - 3px
      font-weight normal
      font-style normal
      text-align center
      border-radius 50%
      background-color #789FA5
    .wpcf7
      width 100%
      max-width 750px
      margin -40px auto 0
      padding 20px 25px 5px
      background #fff // sub_color
      form.wpcf7-form
        & > hgroup
          margin-bottom 40px
          text-align center
          h2
            margin-top 55px
            color #55534D
            font-size 26px
            font-weight bold
            text-transform uppercase
            letter-spacing .04em
          p
            margin 30px 0
            color lighten(#55534D, 10%)
            font-size 13px
            font-weight normal
            font-style italic
        & > p
          clearfix()
          margin 0 40px 20px
          color lighten(#55534D, 10%)
          font-size 14px
          line-height 20px
          font-weight bold
          span.wpcf7-form-control-wrap
            span.wpcf7-not-valid-tip
              padding 2px 0 0
              color #C0392B
            input
            textarea
            select
              display block
              width 100%
              height 34px
              padding 6px 12px
              font-size 14px
              line-height 1.42857143
              color #555
              background-color background_color // #FFF
              background-image none
              border none
              border-radius 2px
              box-shadow inset 0 1px 1px rgba(0, 0, 0, .07)
              transition border-color ease-in-out .15s, box-shadow ease-in-out .15s
            textarea
              height 200px
              max-height 200px
              min-height 200px
              resize none
            &.menu-faculty
            &.menu-grade
              display block
              float left
            &.menu-faculty
              width 62%
              margin-right 3%
            &.menu-grade
              width 35%
              margin-top -20px
          input.wpcf7-submit
            user-select()
            cursor pointer
            vertical-align middle
            padding 10px 40px
            margin 0
            color #FFF
            font-size 17px
            line-height 1.1em
            font-weight normal
            text-align center
            white-space normal
            background-color base_color
            border none
            border-radius 2px
            transition border .25s linear, color .25s linear, background-color .25s linear
        .wpcf7-response-output
          display block
          margin 30px 40px
          padding 10px
          color #fff
          font-size 13px
          font-weight bold
          text-align center
          border none
          border-radius 2px
          background-color transparent
          &.wpcf7-mail-sent-ok
            background-color #2980B9
          &.wpcf7-mail-sent-ng
            background-color #C0392B
          &.wpcf7-spam-blocked
            background-color #C0392B
          &.wpcf7-validation-errors
            background-color #C0392B

.page-layer__vertical-center
  .page-layer__vertical-center__cell
    .page-layer__content-wrap
      //- ナビバー領域
      .page-layer__navigation
        hidden()
        &.page-layer__navigation--archive
          visible()
          @extend .ui-header
          z-index 11
          position relative
          position -webkit-sticky
          position sticky
          overflow visible
          top 0
          left 0
          width 100%
          max-width none
          margin-top 0
          &.lock
            position fixed
            position -webkit-sticky
            position sticky
            top 0
            width 100%
          .page-layer__navigation__media
            container()
            height 54px
            padding 8px 0
            & > div
              height 38px
              .page-layer__navigation__media__inside
                height 54px
                margin -8px -15px
                .page-layer__navigation__media__current
                  display block
                  height 54px
                  padding 8px 0
                  &
                  i
                  span
                    outline none
                    color darken(#64635F, 4%)
                    font-size 13px
                    font-weight 700
                    line-height 38px
                    text-decoration none
                  i
                    color #e76860
                    padding-right 12px
                    font-size 1.2em
                  span
                    text-decoration none
                  &:hover
                    cursor pointer
                    background-color #f4f5f5
                &.open
                  .page-layer__navigation__media__current
                    background-color #f4f5f5
                .page-layer__navigation__media__tab
                  clearfix()
                  whiteboard()
                  left 0
                  right 0
                  margin 0
                  padding 0
                  box-shadow none
                  border-radius 0
                  & > li // .cat-item
                    height 48px
                    margin 0 8px
                    padding 0
                    color darken(#64635F, 8%)
                    font-size 13px
                    font-weight 700
                    line-height 38px
                    text-align left
                    box-shadow 0 1px 0 #f4f5f5
                    a
                      omission()
                      height 48px
                      margin 0 -8px
                      padding 4px 20px 6px
                      font-weight 700
                      line-height 38px
                      text-align left
                      transition background-color .2s ease
                      &:hover
                        background-color #f4f5f5
                    &.cat-item-none // カテゴリなし
                      hidden()
                    &.current-cat // 現在のカテゴリ
                      box-shadow none
                      a
                        background-color #f4f5f5
                        box-shadow inset 3px 0px 0 darken(#64635F, 8%)
                    &:hover
                      box-shadow none
                      a
                        color #e76860
                        box-shadow inset 3px 0px 0 #e76860
                    &:last-child
                      box-shadow none
                      a
                        &
                        &:hover
                          margin-bottom 0
            .page-layer__navigation__media--category
            .page-layer__navigation__media--term
            .page-layer__navigation__media--space-a
            .page-layer__navigation__media--detail
              line-height 38px
              text-align center
              box-shadow inset -1px 0px 0px #eee
              transition background-color .2s ease
            .page-layer__navigation__media--detail
              .page-layer__navigation__media__inside
                .page-layer__navigation__media__breadcrumbs
                  i
                  span
                    display inline-block
                    height 54px
                    padding 8px 4px
                    color darken(#64635F, 4%)
                    font-size 13px
                    font-weight 700
                    line-height 38px
                    text-align center
                    text-transform uppercase
            .page-layer__navigation__media--term
              .page-layer__navigation__media__inside
                .page-layer__navigation__media__current
                  margin-left -1px
      //- メイン領域
      .page-layer__content
        container()
        padding-top 40px
        &.page-layer__content--project
          padding-top 24px
        &.page-layer__content--report
          max-width 800px
          padding-top 0
          padding-left 80px
          padding-right 80px
          background-color transparent
          border none
          .page-layer__media
            padding-top 30px
            background-color #e9eaed
        &.page-layer__content--full
          max-width 100%
          margin 0
          padding 0
        &.page-layer__content--search
          .page-layer__media
            background-color #fff
            margin -40px 140px 40px
            padding-top 40px
            padding-bottom 120px
        .page-layer__media // #contesnts--page
          clearfix()
          margin 0 auto

          // Archive.Search
          .page-layer__media--search__title
            ellipsis()
            padding 0 60px
            text-align center
          .page-layer__media--search--archive-wrap
            padding 60px 120px 0
            .page-layer__media--search--archive
              padding 20px 0
              border-bottom 1px solid #ddd
              .page-layer__media--search__cell
                .archive-media--search-wrap
                  .archive-media--search
                    .archive-media--search__title
                      ellipsis()
                      margin 0 0 12px
                      font-size 16px
                      line-height 1.6em
                      a
                        color font_color
                        transition color .2s ease
                        &:hover
                          color #ac0404
                    .archive-media--search__excerpt
                    .archive-media--search__link
                      ellipsis()
                      font-size 12px
                      line-height 17px
                    .archive-media--search__excerpt
                      color lighten(font_color, 10%)
                      text-align justify

          // Archive.Download
          .page-layer__media--download--archive
            clearfix()
            position relative
            width 33.33333333333%
            min-height 1px
            float left
            margin 0
            padding-left 15px
            padding-right 15px
            padding-bottom 48px
            .page-layer__media--download__cell
              clearfix()
              .archive-media--download-wrap
                .archive-media--download
                  .archive-media--photograph-wrap
                    position relative
                    height 202px
                    .archive-media--background
                      position absolute
                      top 0
                      left 0
                      right 0
                      bottom 0
                      // margin -5px
                      // padding 5px
                      background-color rgba(231, 228, 218, .45)
                      border 1px solid rgba(121, 119, 107, .1)
                      // background-color #fff
                      // box-shadow 0 0 0 1px rgba(0, 0, 0, .04), 0 1px 5px rgba(0, 0, 0, .1)
                      transition margin .05s ease-out
                    .archive-media--photograph
                      opacity 0
                      position absolute
                      top 0
                      left 0
                      right 0
                      bottom 0
                      background-size cover
                      background-position 50% 25%
                      transition opacity .55s ease-out .15s
                    .archive-media--photograph-shadow
                      z-index 1
                      position absolute
                      top 0
                      left 0
                      right 0
                      bottom 0
                      border 1px solid rgba(0, 0, 0, .12)
                      background-color rgba(0, 0, 0, .04)
                      transition background-color .05s ease-out
                    &.loaded
                      .archive-media--photograph
                        opacity 1
                  .archive-media--download__article
                    height 50px
                    margin-top 20px
                    border-bottom 1px solid #e7e4da
                    .archive-media--download-button // button
                      float right
                      display block
                      height 30px
                      width 160px
                      color darken(#b9b9af, 40%)
                      font-size 12px
                      font-weight 100
                      letter-spacing .03em
                      background-color #fafafa
                      border 1px solid #b9b9af
                      transition background-color .25s ease
                      .fa
                        padding-right 4px
                      &:hover
                        background-color darken(#fafafa, 4%)
                    .archive-media--download-title // h3
                      omission()
                      margin 0
                      font-size 14px
                      font-weight 300
                      line-height 1.5em
                      text-align justify
                      a
                        color font_color
                        font-weight 500
                        letter-spacing .01em
                    .archive-media--download-tags // ul
                      clearfix()
                      list-style none
                      margin 0
                      .tag // li
                        display inline-block
                        position relative
                        margin 0
                        margin-right 2px
                        padding-left @margin-right
                        padding-right @margin-right
                        color #b9b9af
                        font-size 11px
                        white-space nowrap
                        background-color transparent
                        transition color .15s ease
                        &:before
                          content '#'
                        &:first-child
                          padding-left 0
                  .archive-media--download__footer
                    .archive-media--download__views
                    .archive-media--download__date
                      float left
                      margin-top 6px
                      margin-right 14px
                      font-size 13px
                      font-weight 300
                      line-height 1.5em
                      text-align justify
                      .fa
                        padding-right 5px
                        color #666
                &:hover
                  .archive-media--download
                    .archive -media--photograph-wrap
                      .archive-media--photograph-shadow
                        background-color transparent


          // Archive.Photolog
          .page-layer__media--photolog--archive
            position relative
            display inline
            float left
            width 20% // 160px
            margin 10px 0 15px
            padding 7px 0 23px
            // box-shadow inset 0px -1px 0 #F8F8F8, inset 0px -2px 0 #DFDFDF
            .page-layer__media--photolog__cell
              clearfix()
              margin 0 20px 10px
              .archive-media--photolog-wrap
                .archive-media--photolog
                  position relative
                  height 172px
                  .archive-media--background
                    position absolute
                    top 0
                    left 0
                    right 0
                    bottom 0
                    // background-color rgba(204, 204, 204, .8)
                    background-color #fff
                    box-shadow 0 0 0 1px rgba(0, 0, 0, .04), 0 1px 5px rgba(0, 0, 0, .1)
                    transition margin .05s ease-out
                  .archive-media--photograph-wrap
                    .archive-media--photograph
                      opacity 0
                      position absolute
                      top 0
                      left 0
                      right 0
                      bottom 0
                      background-size cover
                      background-position 50% 25%
                      transition opacity .55s ease-out .15s
                    .archive-media--photograph-shadow
                      z-index 1
                      position absolute
                      top 0
                      left 0
                      right 0
                      bottom 0
                      border 1px solid rgba(0, 0, 0, .12)
                      background-color rgba(0, 0, 0, .04)
                      transition background-color .05s ease-out
                    &.loaded
                      .archive-media--photograph
                        opacity 1
                  .archive-media--photolog__header
                    .archive-media--photolog__date
                      opacity 0
                      height 25px
                      position absolute
                      top - @height
                      left 0
                      right 0
                      color rgb(126, 116, 116)
                      font-size 12px
                      font-weight bold
                      line-height @height
                      text-align center
                      text-shadow 0px 1px 0px rgba(255, 255, 255, .8)
                      transition opacity .12s ease-out .03s
                  .archive-media--photolog__article
                    z-index 1
                    position absolute
                    bottom 0
                    left @bottom
                    right @bottom
                    margin 0
                    padding 6px 9px
                    background-color transparent
                    background-image linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .6) 100%)
                    .archive-media--photolog-title // h3
                      margin 16px 0 2px
                      text-overflow ellipsis
                      text-shadow 0 0 3px rgba(0, 0, 0, .75)
                      font-size 13px
                      font-weight bold
                      line-height 1.5em
                      a
                        color #fff
                    .archive-media--photolog-excerpt // p
                      margin 0
                      overflow hidden
                      color #FFF
                      font-size 11px
                      font-weight bold
                      text-overflow ellipsis
                      white-space nowrap
                      word-wrap break-word
                      text-shadow 0 0 3px rgba(0, 0, 0, 0.75)
                  .archive-media--photolog__footer
                    .archive-media--photolog__views
                      opacity 0
                      height 25px
                      position absolute
                      bottom - @height
                      left 0
                      right 0
                      color rgb(126, 116, 116)
                      font-size 12px
                      font-weight bold
                      line-height @height
                      text-align center
                      text-shadow 0px 1px 0px rgba(255, 255, 255, .8)
                      transition opacity .12s ease-out .03s
                      .fa
                        padding-right 3px
                &:hover
                  .archive-media--photolog
                    .archive-media--background
                      margin -25px -8px
                    .archive-media--photograph-wrap
                      .archive-media--photograph-shadow
                        background-color transparent
                    .archive-media--photolog__header
                      .archive-media--photolog__date
                        opacity 1
                    .archive-media--photolog__footer
                      .archive-media--photolog__views
                        opacity 1

          // Archive.Report
          .page-layer__media--report--archive
          .page-layer__media--report--single
            padding 0 15px 15px
            // box-shadow inset 0px -1px 0 #eee
            .archive-media--report-back-wrap
              .archive-media--report-back
                width 150px
                margin 12px 1px
                padding 10px 0
                color #333
                font-weight 700
                text-align center
                text-transform uppercase
                letter-spacing .02em
                background-color #fff
                .fa
                  padding-right 9px
            .page-layer__media--report__cell
              clearfix()
              whiteboard()
              position relative
              padding 12px
              .archive-media--report-wrap
                .archive-media--report
                  .archive-media--photograph-wrap
                    position relative
                    height 172px
                    margin -12px -12px 0
                    background-color rgba(231, 228, 218, .45)
                    .archive-media--photograph
                    .archive-media--photograph-shadow
                      border-radius 3px 3px 0 0
                    .archive-media--photograph
                      opacity 0
                      position absolute
                      top 0
                      left 0
                      right 0
                      bottom 0
                      background-size cover
                      background-position 50% 25%
                      transition opacity .55s ease-out .15s
                    .archive-media--photograph-shadow
                      z-index 1
                      position absolute
                      top 0
                      left 0
                      right 0
                      bottom 0
                      background-color rgba(0, 0, 0, .04)
                      border-bottom 1px solid rgba(0, 0, 0, .07)
                      transition background-color .05s ease-out
                    &.loaded
                      .archive-media--photograph
                        opacity 1
                  .archive-media--report__header
                    .ui-calendar
                      position absolute
                      top 0
                      left -95px
                    .archive-media--report__relative-date
                      position absolute
                      top 65px
                      left -135px
                      width 80px
                      color #999
                      font-size 13px
                      font-weight bold
                      text-align right
                      text-shadow 0px 1px 0px rgba(255, 255, 255, .8)
                  .archive-media--report__article
                    margin-bottom 10px
                    padding 0
                    .archive-media--report__title // h1
                      margin 20px 0 12px
                      font-size 18px
                      font-weight 700
                      line-height 1.4em
                      letter-spacing .01em
                      a
                        color #4d3636
                    .archive-media--report__excerpt
                      ellipsis()
                      margin 0
                      color #8A8A80
                      font-size 12px
                      line-height 1.5em
                      height @line-height * 2
                      text-align justify
                      color: #8A8A80;
                &:hover
                  .archive-media--report
                    .archive-media--photograph-wrap
                      .archive-media--photograph-shadow
                        background-color transparent
          .page-layer__media--report--single
            .page-layer__media--report__cell
              .archive-media--report-wrap
                .archive-media--report
                  .archive-media--photograph-wrap
                    hidden()
                  .archive-media--report__article
                    padding 0 12px 12px
                    .archive-media--report__title
                      margin 12px 0
                    .archive-media--report__categories
                      margin 4px 0 12px
                    .archive-media--report__edit
                      display block
                    .archive-media--report__body
                      margin 12px 0
                      padding 24px 0
                      box-shadow inset 0 1px 0 #F3F3F3
                      color #222
                      font-size 14px
                      line-height 1.7em
                      text-align justify
                      // 本文
                      p
                        display block
                        margin .7em 0 1.4em
                        font-size 14px
                        line-height 1.9em
                        // text-indent 1em
                        word-wrap break-word
                      strong
                        font-weight bold
                      em
                        font-style italic
                      blockquote
                        display block
                        -webkit-margin-before 1em
                        -webkit-margin-after 1em
                        -webkit-margin-start 40px
                        -webkit-margin-end 40px
                      img
                        max-width 100%
                        height auto
                        &.aligncenter
                          display block
                          margin 0 auto
                        &.alignright
                          float right
                          margin 0 0 30px 30px
                        &.alignleft
                          float left
                          margin 0 30px 30px 0
                        &[class*="wp-image-"]
                        &[class*="attachment-"]
                          max-width 100%
                          height auto
                    .archive-media--report__tags
                      margin 4px 0 12px
                    .archive-media--report__socials-wrap
                      whiteboard()
                      position absolute
                      bottom 0
                      right -145px
                      width 100px
                      text-align center
                      .archive-media--report__socials
                        clearfix()
                        padding 16px 10px 10px
                        .archive-media--report__social
                          overflow hidden
                          height 80px
                          padding 5px 0
                    .archive-media--report__custom_fields
                      position relative
                      margin-top 48px
                      padding 20px 20px 14px
                      background-color #f5f5f5
                      .archive-media--report__responsibility--avatar
                        width 48px
                        height @width
                        margin -45px auto 4px
                        background-color #fff
                        border 1px solid #C0B9B9
                        border-radius 50%
                        .fa
                          display block
                          padding 8px
                          color #C0B9B9
                          font-size 24px
                          line-height 32px
                          text-align center
                      .archive-media--report__responsibility
                      .archive-media--report__members
                        .title
                          margin 4px 0
                          color #777
                          font-size 11px
                          line-height 1.3em
                          text-align center
                        .body
                          margin 4px 0 12px
                          font-size 15px
                          line-height 1.3em
                          text-align center
                      .archive-media--report__members
                        .body
                          font-size 13px
                  .archive-media--report__footer
                    // .archive-media--report__socials-wrap
                    //   padding-top 15px
                    //   padding-bottom 15px
                    //   border-bottom 1px solid #ccc
                    //   .archive-media--report__socials
                    //     clearfix()
                    //     padding-top 10px
                    //     .archive-media--report__social
                    //       overflow hidden
                    //       height 70px
                    .archive-media--report__socials-wrap
                      clearfix()
                      padding 0 10px
                      .archive-media--report__social
                        overflow hidden
                        height 95px
                        padding 15px
                        text-align center
                        &:nth-child(1)
                        &:nth-child(2)
                          padding-top 5px
                        &:nth-child(3)
                        &:nth-child(4)
                          padding-bottom 5px
                        &:nth-child(1)
                          box-shadow inset -1px 0 0 #eee
                        &:nth-child(3)
                          box-shadow inset -1px 1px 0 #eee
                        &:nth-child(4)
                          box-shadow inset 0 1px 0 0 #eee
                  .archive-media--report-navigate // nav
                    clearfix()
                    .archive-media--navigate-wrap
                      padding 0 10px
                      .archive-media--navigate
                        button-pink()
                        padding 13px
                        color #fff
                        font-size 12px
                        .archive-media--navigate--angle
                          margin-bottom 4px
                          font-weight 700
                          text-align center
                          .fa
                            font-size 14px
                          .fa-angle-left
                            padding-right 6px
                          .fa-angle-right
                            padding-left 6px
                        .archive-media--navigate--title
                          omission()
                        &:hover
                          opacity .8


          // Archive.Project
          .page-layer__media--project--archive
            clearfix()
            position relative
            width 33.33333333333%
            min-height 1px
            float left
            margin 0
            padding-left 15px
            padding-right 15px
            padding-bottom 48px
            .page-layer__media--project__cell
              clearfix()
              .archive-media--project-wrap
                .archive-media--project
                  .archive-media--photograph-wrap
                    overflow hidden
                    position relative
                    height 202px
                    .archive-media--background
                      position absolute
                      top 0
                      left 0
                      right 0
                      bottom 0
                      // margin -5px
                      // padding 5px
                      background-color rgba(231, 228, 218, .45)
                      border 1px solid rgba(121, 119, 107, .1)
                      // background-color #fff
                      // box-shadow 0 0 0 1px rgba(0, 0, 0, .04), 0 1px 5px rgba(0, 0, 0, .1)
                      transition margin .05s ease-out
                    .archive-media--photograph
                      opacity 0
                      position absolute
                      top 0
                      left 0
                      right 0
                      bottom 0
                      background-size cover
                      background-position 50% 25%
                      transition opacity .55s ease-out .15s
                    .archive-media--photograph-shadow
                      z-index 1
                      position absolute
                      top 0
                      left 0
                      right 0
                      bottom 0
                      border 1px solid rgba(0, 0, 0, .12)
                      background-color rgba(0, 0, 0, .04)
                      transition background-color .05s ease-out
                    &.loaded
                      .archive-media--photograph
                        opacity 1
                    // &:hover
                    //   .archive-media--photograph
                    //     scale(1.1)
                  .archive-media--project__article
                    height 60px
                    margin-top 20px
                    border-bottom 1px solid #e7e4da
                    .archive-media--project-title // h3
                      omission()
                      margin 0
                      font-size 14px
                      font-weight 300
                      line-height 1.5em
                      text-align justify
                      a
                        color font_color
                        font-weight 500
                        letter-spacing .01em
                    .archive-media--project-tags // ul
                      clearfix()
                      list-style none
                      margin 0
                      .tag // li
                        display inline-block
                        position relative
                        margin 0
                        margin-right 2px
                        padding-left @margin-right
                        padding-right @margin-right
                        color #b9b9af
                        font-size 11px
                        white-space nowrap
                        background-color transparent
                        transition color .15s ease
                        &:before
                          content '#'
                        &:first-child
                          padding-left 0
                  .archive-media--project__footer
                    .archive-media--project-year
                      margin-top 6px
                      font-size 13px
                      font-weight 300
                      line-height 1.5em
                      text-align justify
                      .starting-year
                      .separator
                      .end-year
                        display inline
                        padding-right 7px
                &:hover
                  .archive-media--project
                    .archive -media--photograph-wrap
                      .archive-media--photograph-shadow
                        background-color transparent
                    .archive-media--project__header
                      .archive-media--project-date
                        opacity 1
          .page-layer__media--project--single
            position relative
            // margin 32px 0 16px
            padding-bottom 16px
            .page-layer__media--project__cell
              .archive-media--project-wrap
                .archive-media--project-back-wrap
                  .archive-media--project-back
                    width 172px
                    margin-top 24px
                    padding 10px 0
                    color #333
                    font-weight 700
                    text-align center
                    text-transform uppercase
                    letter-spacing .02em
                    background-color #fff
                    .fa
                      padding-right 9px
                .archive-media--project
                  whiteboard()
                  padding 50px 40px
                  .archive-media--project__header
                    clearfix()
                    position relative
                    padding 17px 0
                    border-bottom 1px solid lighten(font_color, 80%)
                    .archive-media--project-head
                      clearfix()
                      .archive-media--project-titles
                        margin 0 -15px
                        .archive-media--project__title
                          min-height 2.2em
                          margin 0 0 17px
                          padding 0
                          font-size 24px
                          font-weight bold
                          text-align center
                          text-transform uppercase
                        .archive-media--project__description
                          margin 0
                          padding 5px 0
                          font-size 13px
                          font-style italic
                          text-align center
                    .archive-media--project-navigate
                      .archive-media--project-navigate__prev
                      .archive-media--project-navigate__next
                        position absolute
                        bottom 17px
                        width 25%
                        .archive-media--navigate--angle
                          margin 4px 0 12px
                          color lighten(font_color, 5%)
                          font-weight bold
                          text-transform uppercase
                          transition color .05s ease
                          .fa
                            padding 0 6px
                        .archive-media--navigate--title
                          omission()
                          padding 0 15px
                          color lighten(font_color, 25%)
                          font-style italic
                        &:hover
                          .archive-media--navigate--angle
                            color base_color
                      .archive-media--project-navigate__prev
                        left 0
                        text-align left
                      .archive-media--project-navigate__next
                        right 0
                        text-align right
                  .archive-media--project__article
                    clearfix()
                    margin 0 0 20px
                    padding-bottom 17px
                    // border-bottom 1px solid lighten(font_color, 40%)
                    .archive-media--project__info
                      clearfix()
                      margin 40px -15px
                      .archive-media--project__section-title // h1
                        margin 0 0 10px
                        font-size 14px
                        font-weight 700
                        letter-spacing .05em
                        text-align left
                        text-transform uppercase
                      .archive-media--project__info--abstracts
                        .archive-media--project-abstract-wrap
                          .archive-media--project-abstract--text
                            min-height 120px
                            padding 15px 0
                            font-size 14px
                          .archive-media--project-tags
                            min-height 46px
                            .title
                            .tag
                              display inline-block
                              margin 0 5px 5px 0
                              padding 0 3px
                              color #7A7A7A
                              font-size 13px
                              line-height 18px
                            .title
                              font-weight bold
                            .tag
                              background-color rgba(230, 230, 230, .35)
                        .archive-media--project__socials-wrap
                          padding-top 15px
                          padding-bottom 15px
                          border-bottom 1px solid #ccc
                          .archive-media--project__socials
                            padding-top 10px
                            .archive-media--project__social
                              overflow hidden
                              height 70px
                      .archive-media--project__info--photography
                        .archive-media--photograph-wrap
                          height 360px
                          position relative
                          .archive-media--photograph
                            opacity 0
                            position absolute
                            top 0
                            left 0
                            right 0
                            bottom 0
                            background-size cover
                            background-position 50% 25%
                            transition opacity .55s ease-out .15s
                          .archive-media--photograph-shadow
                            z-index 1
                            position absolute
                            top 0
                            left 0
                            right 0
                            bottom 0
                            border 1px solid rgba(0, 0, 0, .12)
                            background-color rgba(0, 0, 0, .04)
                            transition background-color .05s ease-out
                          &.loaded
                            .archive-media--photograph
                              opacity 1
                    .archive-media--project__body
                      text-align justify
                      h1
                      h2
                      h3
                      h4
                      h5
                      h6
                        font-size 1.20em
                        font-weight bold
                        line-height @font-size
                        word-wrap break-word
                        &:before
                          content '■'
                          padding-right .5em
                          color #8DB95C
                      h1
                        font-size 1.45em
                        line-height @font-size
                        &:before
                          color base_color
                      h2
                        font-size 1.40em
                        line-height @font-size
                        &:before
                          color #C54A48
                      h3
                        font-size 1.35em
                        line-height @font-size
                      h4
                        font-size 1.30em
                        line-height @font-size
                      h5
                        font-size 1.25em
                        line-height @font-size
                      p
                        display block
                        margin 0.7em 0 1.4em
                        font-size 1.1em
                        line-height 1.6em
                        // text-indent @font-size
                        word-wrap break-word
                      strong
                        font-weight bold
                      em
                        font-style italic
                      blockquote
                        display block
                        -webkit-margin-before 1em
                        -webkit-margin-after 1em
                        -webkit-margin-start 40px
                        -webkit-margin-end 40px
                      ul
                        margin .7em .7em 1.4em
                        li
                          margin-bottom .4em
                          &:before
                            content '●' //'\f111'
                            padding-right .7em
                            color #cccca3
                            font-size 1.1em
                            font-family 'FontAwesome'
                      img
                        max-width 100%
                        height auto
                        &.aligncenter
                          display block
                          margin 0 auto
                        &.alignright
                          float right
                          margin 0 0 30px 30px
                        &.alignleft
                          float left
                          margin 0 30px 30px 0
                        &[class*="wp-image-"]
                        &[class*="attachment-"]
                          max-width 100%
                          height auto
                  .archive-media--project__footer
                    .archive-media--project__social-wrap
                      .archive-media--project__social
                        overflow hidden
                        height 95px
                        padding 15px
                        text-align center
                        &:nth-child(1)
                        &:nth-child(2)
                          padding-top 5px
                        &:nth-child(3)
                        &:nth-child(4)
                          padding-bottom 5px
                        &:nth-child(1)
                          box-shadow inset -1px 0 0 #eee
                        &:nth-child(3)
                          box-shadow inset -1px 1px 0 #eee
                        &:nth-child(4)
                          box-shadow inset 0 1px 0 0 #eee

          // Page.Home
          base_margin = 15px
          base_border = 3px
          .page-layer__media--home--page
            .post-section // section
              position relative
              margin-bottom 0
              padding 50px 0
              background-size cover
              background-position 0% 50%
            .page-layer__media--home__cell
              .archive-media--home-wrap
                .archive-media--home
                  .archive-media--home__slider-wrap
                    position relative
                    clearfix()
                    .archive-media--home__slider
                      overflow hidden
                      width 100%
                      height 540px
                      background-color background_color_dark
                      background-size cover
                      background-position 50% 50%
                    .archive-media--home__slider--title
                    .archive-media--home__slider--button
                      position absolute
                      top 50%
                      left 50%
                    .archive-media--home__slider--title
                      width 980px
                      margin-top -185px
                      margin-left -490px
                      font-weight 300
                      text-align center
                      img
                        width 980px
                        height 114px
                    button_color__left = #e76860
                    button_color__right = #6dacb9
                    .archive-media--home__slider--button
                      button-pink()
                      width 200px
                      padding 10px
                      margin-top 30px
                      color #fff
                      box-shadow none
                      transition box-shadow, background-color .25s ease
                      &.archive-media--home__slider--button--left
                        margin-left -220px
                        background-color rgba(button_color__left, 1)
                      &.archive-media--home__slider--button--right
                        margin-left 20px
                        background-color rgba(button_color__right, 1)
                      &:hover
                        box-shadow inset -2px -2px 0 0 rgba(#fff, .1), inset 2px 2px 0 0 rgba(#fff, .1)
                        // &.archive-media--home__slider--button--left
                        //   background-color rgba(button_color__left, .75)
                        // &.archive-media--home__slider--button--right
                        //   background-color rgba(button_color__right, .75)
                  .archive-media--home__main-wrap
                    container()
                    padding-top 80px
                    padding-bottom 80px

                    // .archive-media--home__sidebar
                    //   width 320px
                    //   min-height 1px
                    //   float left
                    //   .archive-media--home__sidebar--photolog
                    //   .archive-media--home__sidebar--youtube
                    //     overflow hidden
                    //     width 320px
                    //     height 180px
                    //     margin-bottom base_margin
                    //     background-color base_color
                    //     border-radius base_border
                    //   .archive-media--home__sidebar--youtube
                    //     iframe
                    //       overflow hidden
                    //       width 320px
                    //       height 180px
                    //       border-radius base_border

                    .archive-media--home__content
                      min-height 1px
                      margin-left 320px
                      .archive-media--home__content--report
                        height 400px // tmp
                        min-height 1px
                        margin 0 0 base_margin base_margin
                        background-color sub_color
                        border-radius base_border
                      .archive-media--home__content--report-more
                        hidden()
                        clearfix()
                        a
                          .archive-media--home__content--report-more__button
                            button-pink()
                            float right
                            width 180px
                            margin 0 0 base_margin
                            padding-right 12px
                            color #fff
                            .fa
                              padding-right base_margin

                  .archive-media--home__project-wrap
                    padding 30px 0 80px
                    background-color #fff
                    &.color
                      background-color #F4F7F8
                    .archive-media--home__project
                      container()
                      .archive-media--home__project__title
                        margin 0
                        padding 47px 0
                      .archive-media--home__project__slider
                        clearfix()
                        min-height 1px
                        .page-layer__media--project--archive
                          padding-bottom 36px
                          .page-layer__media--project__cell
                            .archive-media--project-wrap
                              .archive-media--project
                                .archive-media--project__article
                                  height auto
                                  margin-top 15px
                                  border-bottom none
                      .archive-media--home__youtube
                        width 320px
                        height 180px
                        background-color #000
                    .archive-media--home__project__more
                      container()
                      // color #222
                      font-size 14px
                      line-height 3em
                      text-align center
                      a
                        button-pink()
                        width auto
                        padding 8px 24px
                        color #fff
                        box-shadow none
                        .fa
                          padding-left 6px


          // Page.About
          .page-layer__media--about--page
            .post-section // section
              position relative
              margin-bottom 0
              padding 75px 0
              background-size cover
              background-position 0% 50%
              // 背景色
              &:nth-child(even)
                background-color lighten(sub_color, 0%)
              &:nth-child(odd)
                background-color #fff
              &:first-child
                padding-top 50px
                background-color transparent
                padding-bottom 100px
                background-image url(path + 'about/overview_professor_message_back_2x.jpg')
              &.nth-child(2)
                padding-top 50px
                background-color lighten(sub_color, 0%)
              &.nth-child(3)
                background-color #fff
              &:nth-child(4)
                background-color transparent
              &:nth-child(5)
                background-color #fff

              // 画像背景
              .img-background-frame
                z-index -1
                overflow hidden
                position absolute
                top -35px
                left -15px
                right @left
                .img-background // img
                  min-width 1440px
              // 画像タイトル
              .page-subtitle // hgroup
                h2
                h3
                  text-align center
                  text-transform uppercase
                h2 // 全幅,中央寄せ
                  margin 0
                  padding 20px 0
                  .img-responsive // img
                    margin 0 auto
                h3 // 固定幅,左寄せ
                  margin 20px 0 60px
                  padding 0 0 10px
                  border-bottom 1px solid #ddd
                // 教授の顔
                .face
                  height 180px
                  width @height
                  margin -140px auto 0
                  background-color #fff
                  background-size cover
                  background-position 50% 25%
                  border-radius 50%
                  border 6px solid darken(sub_color, 5%)
                  // box-shadow 0 6px 0 darken(sub_color, 5%)
                  transition all .4s ease
                  &:hover
                    position relative
                    transform translateY(-0.5em)
              // ソーシャルアイコン
              .socials
                padding-bottom 10px
                text-align center
                a
                  padding 0 8px
                  font-size 32px
                  i
                    transition all .25s ease
                    &.fa-globe
                    &.fa-home
                      color #E76860
                    &.fa-twitter
                      color #7A9EA2
                    &.fa-youtube-play
                      color #64615A //#C51514
                    &.fa-envelope
                      color #64615A
                    &:hover
                      // opacity .72
                      scale(1.2)
              // テキスト共通
              p.text-field
              .text-field-custom
              .history-field
              .archive-media--page-about__buttons
                margin 20px auto
                padding 0 15px
                width 100%
                max-width 860px
                color #333
                font-size 1.333em
                line-height 1.688
                text-align center
                text-decoration none
                @media (max-width: 768px)
                  font-size 1.111em
              // メンバー一覧
              .text-field-custom
                .face
                  width 100%
                  height 360px
                  margin 10px auto
                  background-color #fff
                  background-size cover
                  background-position 50% 50%
                  box-shadow 1px 1px 0 #e7e7e7, -1px -1px 0 #e7e7e7
                  transition all .25s ease
                .members
                  clearfix()
                  margin-bottom 40px
                  .member
                    padding-bottom 4px
                    line-height 1.6
                    text-align center
                    &.member-td
                      opacity .2
                      transition opacity .4s ease
                      &.default
                      &.visible
                        opacity 1
                    h4
                      margin 24px 0 36px
                      font-weight bold
                      text-align center
                      text-transform uppercase
                      letter-spacing .1em
                      .fa
                      span
                        display block
                        padding-top 3px
                        color lighten(base_color, 30%)
                        font-size 1.2em
                        font-weight 300
                      .fa
                        font-size 2.5em
                    span
                      font-size .76em
              // 沿革
              .history-field
                clearfix()
                margin-top 60px
                margin-bottom 40px
                .histories
                  content ''
                  display table
                  position relative
                  width 100%
                  clear both
                  @media (min-width: 600px)
                    &:after
                      content ''
                      display block
                      position absolute
                      left 50%
                      top 50px
                      bottom -40px
                      width 6px
                      margin-left -3px
                      background-color #e76860
                  .history
                    .in
                      clearfix()
                      position relative
                      width 100%
                      padding 20px
                      background-color #fff
                      transition all .1s linear
                      .date
                      .title
                      .description
                        font-style normal
                        line-height 1.3
                        text-align justify
                      .date
                      .title
                        color #333
                        font-size 1.7em
                        font-weight normal
                      .date
                        position absolute
                        top 20px
                        right 20px
                      .title
                        margin 0 0 8px
                      .description
                        color #666
                        font-size 1.0em
                    @media (min-width: 600px)
                      display block
                      position relative
                      margin-bottom 20px
                      width 50%
                      .in
                        &:before
                        &:after
                          content ''
                          display block
                          position absolute
                          width 0
                          height 0
                          border solid 12px transparent
                      &:nth-child(odd)
                        clear both
                        float left
                        padding-right 40px
                        &:after
                          top 30px
                          right -10px
                        .in
                          &:after
                            top 30px
                            right -24px
                          &:after
                            border-left-color white
                      &:nth-child(even)
                        clear right
                        float right
                        margin-top 100px
                        padding-left 40px
                        &:after
                          top 40px
                          left -10px
                        .in
                          &:after
                            top 35px
                            left -24px
                          &:after
                            border-right-color white
                      // どっと
                      &:after
                        content ''
                        display block
                        position absolute
                        z-index 1
                        width 20px
                        height 20px
                        background #555
                        box-shadow 0 0 5px rgba(0, 0, 0, .1), 1px 1px 0 rgba(0, 0, 0, .2), inset 0 0 0 3px #fafafa
                        border-radius 10px
              // ボタン
              .archive-media--page-about__buttons
                a
                  .archive-media--page-about__button
                    button-pink()
                    display inline-block
                    width 200px
                    padding 10px
                    margin 10px 20px
                    color #fff
                    box-shadow none
                  &:first-child
                    .archive-media--page-about__button
                      background-color base_color
                      &:hover
                        background-color lighten(base_color, 5%)
                  &:nth-child(2)
                    .archive-media--page-about__button
                      background-color #c3c3c3
                      &:hover
                        background-color lighten(#c3c3c3, 5%)
              // アクセス
              #map_canvas
                height 270px
                margin-top 0
                margin-bottom 20px
              .access
                margin 20px auto
                i.fa-map-marker
                  font-size 3.7em
                .room
                .address
                  margin 0
                .room
                  margin-bottom 8px
                  font-size 16px
                  line-height 1.588
                  strong
                    display block
                    padding-bottom 1px
                    font-size 1.333em
                    font-weight normal
                .address
                  padding-bottom 30px
                  font-size 12px
                  line-height 1.588
                  i
                    padding-right 4px
                .attention
                  color #BE1E1E
                  font-size 1.333em
                  line-height 1.688


/* = Footer
 * ----------------------------------------------------- */
footer.ui-footer
  position relative
  margin-top 20px
  .footer-container
    container()
    .footer-container__socials
      clearfix()
      text-align center
      margin 10px auto
      .twitter
      .facebook
        display block
        width 50%
        height 36px
      .twitter
        float left
        text-align right
        iframe
          margin-right -20px
      .facebook
        float right
        text-align left
        padding-left 24px
    .footer-container__language
      hoge 0
    .footer-container__copyright
      .footer-container__copyright__info
        margin 0
        padding 15px 0
        color darken(#b9b9af, 5%)
        font-size 12px
        text-align center
        strong
          padding 0 2px
      .footer-container__copyright__border
        width 32px
        height 1px
        margin 5px auto 85px
        background-color #ddd
