extends _application
//-
  The template for displaying 404 pages (Not Found).
  @package WordPress
  @subpackage SFC_Bosalab_2013
  @since 1.0

block article
  .fixed.type-page.type-404
    header.page-header
      h1.page-title
        <?php _e( 'Not found', 'twentythirteen' ); ?>

    article.article
      .page-article
        h2
          <?php _e( 'This is somewhat embarrassing, isn&rsquo;t it?', 'twentythirteen' ); ?>
        p
          <?php _e( 'It looks like nothing was found at this location. Maybe try a search?', 'twentythirteen' ); ?>

        <?php get_search_form(); ?>
