ul.post-items

  <?php if ( $title ) { ?>
  li.post-item-header
    h2 <?php echo $title; ?>
  <?php } ?>

  :php
    $wp_query = new WP_Query();
    $wp_query->query($param);
    if ( $wp_query->have_posts() ):
    while( $wp_query->have_posts() ):
    $wp_query->the_post();
    // var_dump( $post = $wp_query->post );
  li.post-item(data-id!="<?php the_ID(); ?>")
    .item-header
      .ui-calendar-icon
        time: <?php the_date(); ?>
        .date-icon
          .date-month: <?php the_time('M'); ?>
          .date-day: <?php the_time('j'); ?>
          .date-year: <?php the_time('Y'); ?>

    .item-article
      h3.title
        a(href!="<?php the_permalink(); ?>")
          span <?php the_title(); ?>
      p.excerpt.ellipsis.multiline
        <?php echo new_excerpt( 100 ); ?>
    .item-footer
      //- 文責

      //- カスタム投稿タイプ
      a(href!="<?php echo get_post_type_archive_link( get_post_type() ); ?>")
        span #<?php echo get_post_type(); ?>

  :php
    endwhile;
    else:
  li.front-news-item.none
    a(href='javascript:void(0)')
      span 投稿はみつかりませんでした
  :php
    endif;