extends _application

//-
  The template for displaying all pages.

  This is the template that displays all pages by default.
  Please note that this is the WordPress construct of pages and that other
  'pages' on your WordPress site will use a different template.

  @package WordPress
  @subpackage SFC_Bosalab_2013
  @since 1.0

block article
  .fixed.type-page

    .page-container
      //- The loop
      <?php while ( have_posts() ) : the_post(); ?>

      header.item-header
        <?php if ( has_post_thumbnail() && !post_password_required() ) : ?>
        .item-thumbnail
          <?php the_post_thumbnail(); ?>
        <?php endif; ?>
        h1.item-title
          <?php the_title(); ?>

      article(id!="post-<?php echo the_ID(); ?>", class!="item-article <?php echo get_post_class(); ?>")
        <?php the_content(); ?>
        :php
          wp_link_pages(
            array(
              'before' => '<div class="page-links"><span class="page-links-title">' . __( 'Pages:', 'twentythirteen' ) . '</span>',
              'after' => '</div>', 'link_before' => '<span>', 'link_after' => '</span>'
            )
          );

      footer.item-footer
        <?php edit_post_link( __( 'Edit', 'twentythirteen' ), '<span class="edit-link">', '</span>' ); ?>

      <?php endwhile; ?>
      <?php // comments_template(); ?>

    .page-footer

  //- #primary.content-area

  //-   .tmp.
  //-     //- The loop
  //-     <?php while ( have_posts() ) : the_post(); ?>

  //-       <article id="post-<?php the_ID(); ?>" <?php post_class(); ?>>
  //-         <header class="entry-header">
  //-           <?php if ( has_post_thumbnail() && ! post_password_required() ) : ?>
  //-           <div class="entry-thumbnail">
  //-             <?php the_post_thumbnail(); ?>
  //-           </div>
  //-           <?php endif; ?>

  //-           <h1 class="entry-title"><?php the_title(); ?></h1>

  //-         <div class="entry-content">
  //-           <?php the_content(); ?>
  //-           <?php wp_link_pages( array( 'before' => '<div class="page-links"><span class="page-links-title">' . __( 'Pages:', 'twentythirteen' ) . '</span>', 'after' => '</div>', 'link_before' => '<span>', 'link_after' => '</span>' ) ); ?>
  //-         </div><!-- .entry-content -->

  //-         <footer class="entry-meta">
  //-           <?php edit_post_link( __( 'Edit', 'twentythirteen' ), '<span class="edit-link">', '</span>' ); ?>
  //-         </footer><!-- .entry-meta -->
  //-       </article><!-- #post -->

  //-       <?php comments_template(); ?>
  //-     <?php endwhile; ?>



